/* ---------- Interface CSS ---------- */

::selection { /* 선택 영역 색상 */
    background: rgba(var(--color_tone1), 1);
    color: currentColor;
}

a:link,
a:visited {
    text-decoration: none;
}

/* ---------- Scrollbar Start ---------- */

::-webkit-scrollbar {
    width: .6rem;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border: .05rem solid transparent;
    border-radius: .2rem;
    background: rgb(80, 80, 80);
    background-clip: padding-box;
    -webkit-box-shadow: none;
            box-shadow: none;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
            box-shadow: none;
}

/* ---------- Scrollbar End ---------- */
/* ---------- Form Elements Start ---------- */

%interface_box_elmt {
    position: relative;
    padding: .45rem .5rem .4rem .5rem;
    border-radius: var(--bdr_outer);
    background: rgba(255, 255, 255, 1);
    box-shadow: var(--shd_major);
    outline: none;
    color: rgb(var(--color_text));
    font-family: var(--ff_sans_p);
    font-size: .6rem;

    &::placeholder {
        color: rgb(var(--color_bdr));
    }
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="search"],
input[type="number"],
input[list],
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="image"],
textarea,
select,
output,
button {
    @extend %interface_box_elmt;

    &:focus {
        box-shadow:
            var(--shd_major),
            0 0 0 .1rem rgba(var(--color_acc1), .5);
    }
}

select {
    padding: .35rem .25rem .3rem .25rem;
}

input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"] {
    @extend %interface_box_elmt;
    padding: .2rem .25rem;
}

input[type="file"] {
    @extend %interface_box_elmt;
    display: block;
    padding: .1rem;
}

input[type="color"] {
    @extend %interface_box_elmt;
    padding: .1rem .2rem;
    width: 2.4rem;
    height: 1.6rem;
}

label {
    vertical-align: middle;
}

fieldset {
    position: relative;
    margin-bottom: 2rem;
    padding: .25rem;
    border: .05rem solid rgb(var(--color_bdr));
}

fieldset > legend {
    position: absolute;
    top: calc(100% - .15rem);
    right: .25rem;
    padding: .25rem;
    border-radius: var(--bdr_outer);
    background: rgb(var(--color_dark));
    color: rgb(var(--color_light));
}

/* 추가 스타일링 필요한 요소들

    input-range, input-checkbox, input-radio, input-number,
    input-select, input-file, input-search, meter, progress

*/

/* ---------- Form Elements End ---------- */
/* ---------- Modal, Pop-Up, Message Start ---------- */

aside#popFollow {
    position: fixed;
    right: .5rem;
    bottom: .5rem;
    transition: .2s ease-out;
}

a.goto_top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: .15rem;
    background: rgba(0, 0, 0, .75);
    color: rgb(255, 255, 255);
    font-size: 1rem;
}

/* ---------- Modal, Pop-Up, Message End ---------- */

.card_item {
    position: relative;
    width: calc(58rem / 3);
    height: 20.5rem;
    border: .05rem solid rgb(var(--color_bdr));
    background: rgb(var(--color_light));

    > .card_img {
        position: relative;
        width: 100%;
        height: 12rem;
        border-bottom: .05rem solid rgb(var(--color_bdr));
        object-fit: cover;

        &::before {
            display: block;
            position: absolute;
            bottom: .25rem;
            right: .25rem;
            padding: .15rem .5rem;
            border: .05rem solid currentColor;
            border-radius: var(--bdr_outer);
            font-family: var(--ff_eng);
            color: rgba(var(--color_light), .75);
            text-shadow: .05rem .05rem 0 rgba(var(--color_dark), .3);
            z-index: 2;
            content: '';
        }
    }

    &:is([data-category="byob"]) {
        > .card_img {

            &::before {
                border-color: #dc801f;
                background: rgb(var(--color_acc1));
                content: 'BYOB';
            }
        }
    }

    &:is([data-category="list"]) {
        > .card_img {

            &::before {
                border-color: #008841;
                background: rgb(var(--color_acc2));
                content: 'LIST';
            }
        }
    }

    > .card_content {
        padding: 0 1rem;
    }

    .card_desc {
        padding-top: 1rem;
    }

    .card_title {
        font-family: var(--ff_serif);
        font-size: 1rem;
    }

    .card_subtitle {
        margin-top: .75rem;
        font-size: .8rem;
    }

    .card_spec {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 .5rem;
        padding: .75rem 0;
        border-top: .05rem solid rgb(var(--color_bdr));

        > p {
            padding: 0 .5rem;

            &.card_position_101 {
                font-size: .6rem;
            }

            &.card_host {
                font-weight: bold;
            }
        }
    }
}

.icon_gps {
    display: inline-block;
    vertical-align: top;
}

.profile_pict_small {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: .05rem solid rgb(var(--color_bdr));
    border-radius: 50%;
    vertical-align: middle;
}