@charset "UTF-8";
/* ---------- Interface CSS ---------- */
::-moz-selection {
	/* 선택 영역 색상 */
	background: rgba(var(--color_tone1), 1);
	color: currentColor;
}
::selection {
	/* 선택 영역 색상 */
	background: rgba(var(--color_tone1), 1);
	color: currentColor;
}

a:link,
a:visited {
	text-decoration: none;
}

/* ---------- Scrollbar Start ---------- */
::-webkit-scrollbar {
	width: 0.6rem;
	background: transparent;
}

::-webkit-scrollbar-thumb {
	border: 0.05rem solid transparent;
	border-radius: 0.2rem;
	background: #505050;
	background-clip: padding-box;
	box-shadow: none;
}

::-webkit-scrollbar-track {
	box-shadow: none;
}

/* ---------- Scrollbar End ---------- */
/* ---------- Form Elements Start ---------- */
input[type=color], input[type=file], input[type=datetime-local],
input[type=date],
input[type=month],
input[type=week],
input[type=time], input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=tel],
input[type=search],
input[type=number],
input[list],
input[type=button],
input[type=reset],
input[type=submit],
input[type=image],
textarea,
select,
output,
button {
	position: relative;
	padding: 0.45rem 0.5rem 0.4rem 0.5rem;
	border-radius: var(--bdr_outer);
	background: white;
	box-shadow: var(--shd_major);
	outline: none;
	color: rgb(var(--color_text));
	font-family: var(--ff_sans_p);
	font-size: 0.6rem;
}
input[type=color]::-moz-placeholder, input[type=file]::-moz-placeholder, input[type=datetime-local]::-moz-placeholder, input[type=date]::-moz-placeholder, input[type=month]::-moz-placeholder, input[type=week]::-moz-placeholder, input[type=time]::-moz-placeholder, input[type=text]::-moz-placeholder, input[type=password]::-moz-placeholder, input[type=email]::-moz-placeholder, input[type=url]::-moz-placeholder, input[type=tel]::-moz-placeholder, input[type=search]::-moz-placeholder, input[type=number]::-moz-placeholder, input[list]::-moz-placeholder, input[type=button]::-moz-placeholder, input[type=reset]::-moz-placeholder, input[type=submit]::-moz-placeholder, input[type=image]::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder, output::-moz-placeholder, button::-moz-placeholder {
	color: rgb(var(--color_bdr));
}
input[type=color]:-ms-input-placeholder, input[type=file]:-ms-input-placeholder, input[type=datetime-local]:-ms-input-placeholder, input[type=date]:-ms-input-placeholder, input[type=month]:-ms-input-placeholder, input[type=week]:-ms-input-placeholder, input[type=time]:-ms-input-placeholder, input[type=text]:-ms-input-placeholder, input[type=password]:-ms-input-placeholder, input[type=email]:-ms-input-placeholder, input[type=url]:-ms-input-placeholder, input[type=tel]:-ms-input-placeholder, input[type=search]:-ms-input-placeholder, input[type=number]:-ms-input-placeholder, input[list]:-ms-input-placeholder, input[type=button]:-ms-input-placeholder, input[type=reset]:-ms-input-placeholder, input[type=submit]:-ms-input-placeholder, input[type=image]:-ms-input-placeholder, textarea:-ms-input-placeholder, select:-ms-input-placeholder, output:-ms-input-placeholder, button:-ms-input-placeholder {
	color: rgb(var(--color_bdr));
}
input[type=color]::placeholder, input[type=file]::placeholder, input[type=datetime-local]::placeholder,
input[type=date]::placeholder,
input[type=month]::placeholder,
input[type=week]::placeholder,
input[type=time]::placeholder, input[type=text]::placeholder,
input[type=password]::placeholder,
input[type=email]::placeholder,
input[type=url]::placeholder,
input[type=tel]::placeholder,
input[type=search]::placeholder,
input[type=number]::placeholder,
input[list]::placeholder,
input[type=button]::placeholder,
input[type=reset]::placeholder,
input[type=submit]::placeholder,
input[type=image]::placeholder,
textarea::placeholder,
select::placeholder,
output::placeholder,
button::placeholder {
	color: rgb(var(--color_bdr));
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=tel]:focus,
input[type=search]:focus,
input[type=number]:focus,
input[list]:focus,
input[type=button]:focus,
input[type=reset]:focus,
input[type=submit]:focus,
input[type=image]:focus,
textarea:focus,
select:focus,
output:focus,
button:focus {
	box-shadow: var(--shd_major), 0 0 0 0.1rem rgba(var(--color_acc1), 0.5);
}

select {
	padding: 0.35rem 0.25rem 0.3rem 0.25rem;
}

input[type=datetime-local],
input[type=date],
input[type=month],
input[type=week],
input[type=time] {
	padding: 0.2rem 0.25rem;
}

input[type=file] {
	display: block;
	padding: 0.1rem;
}

input[type=color] {
	padding: 0.1rem 0.2rem;
	width: 2.4rem;
	height: 1.6rem;
}

label {
	vertical-align: middle;
}

fieldset {
	position: relative;
	margin-bottom: 2rem;
	padding: 0.25rem;
	border: 0.05rem solid rgb(var(--color_bdr));
}

fieldset > legend {
	position: absolute;
	top: calc(100% - .15rem);
	right: 0.25rem;
	padding: 0.25rem;
	border-radius: var(--bdr_outer);
	background: rgb(var(--color_dark));
	color: rgb(var(--color_light));
}

/* 추가 스타일링 필요한 요소들

    input-range, input-checkbox, input-radio, input-number,
    input-select, input-file, input-search, meter, progress

*/
/* ---------- Form Elements End ---------- */
/* ---------- Modal, Pop-Up, Message Start ---------- */
.success, .warning, .error, .normal {
	position: fixed;
	bottom: 1rem;
	left: 50%;
	padding: 0.8rem 1.4rem 0.8rem 1rem;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	border: 0.05rem solid currentColor;
	border-left: 0.25rem solid currentColor;
	border-radius: 0.15rem;
	background: white;
	color: #2d2d2d;
	z-index: 50000;
}

.modal_message {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-content: space-between;
	position: relative;
	width: calc(100% - 4rem);
	max-width: 30rem;
	min-height: 10rem;
	background: white;
	box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
}

.modal_text {
	padding: 1rem;
	width: calc(100% - 3rem);
	height: auto;
	font-weight: normal;
	line-height: 1.4;
}

.modal_button_container {
	margin-top: auto;
	width: 100%;
}

.modal_close {
	padding: 0.5rem 0;
	width: 100%;
	border: none;
	border-radius: 0;
	background: #d21400;
	box-shadow: none;
	color: white;
	font-size: 0.8rem;
	font-weight: bolder;
}

.message > h6 {
	margin-bottom: 0.4rem;
	font-size: 0.8rem;
}

.normal {
	border-color: #4b4bbe;
}

.error {
	border-color: #dc4b4b;
}

.warning {
	border-color: #e6be1e;
}

.success {
	border-color: #1ed200;
}

aside#popFollow {
	position: fixed;
	right: 0.5rem;
	bottom: 0.5rem;
	transition: 0.2s ease-out;
}

a.goto_top {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3rem;
	height: 3rem;
	border-radius: 0.15rem;
	background: rgba(0, 0, 0, 0.75);
	color: white;
	font-size: 1rem;
}

/* ---------- Modal, Pop-Up, Message End ---------- */