@charset "UTF-8";
/* ---------- Page-Specific Layout CSS (Index) ---------- */
/* ---------- SCSS 공통 선언 시작 ---------- */
/* ---------- SCSS 공통 선언 종료 ---------- */
/* ---------- 영역 공통 선언 시작 ---------- */
/* ---------- 영역 공통 선언 종료 ---------- */
/* ---------- 하부 요소 시작 ---------- */
/* ---------- 하부 요소 종료 ---------- */
/* ---------- 페이지 특정 요소 시작 ---------- */
div#mainSlider {
	position: relative;
	width: 100%;
	height: 45vh;
	background: var(--color_bdr);
	box-shadow: var(--shd_minor);
	overflow: hidden;
}
div#mainSlider::before {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: radial-gradient(farthest-corner at right, transparent 0%, rgba(var(--color_dark), 0.5) 100%);
	pointer-events: none;
	z-index: 1;
	content: "";
}

.slider_item {
	position: relative;
	width: 100%;
	height: 100%;
}
.slider_item img {
	width: 100%;
	height: 45vh;
	-o-object-fit: cover;
	   object-fit: cover;
}