@charset "UTF-8";
/* ---------- Page-Specific Layout CSS (Index) ---------- */
/* ---------- SCSS 공통 선언 시작 ---------- */
/* ---------- SCSS 공통 선언 종료 ---------- */
/* ---------- 영역 공통 선언 시작 ---------- */
/* ---------- 영역 공통 선언 종료 ---------- */
/* ---------- 하부 요소 시작 ---------- */
header#headBase {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 4rem;
	background: transparent;
	z-index: 10000;
}

nav#navBase {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-content: center;
	gap: 1.5rem;
	height: 100%;
	font-family: var(--ff_sans_p);
	font-size: 0.7rem;
}
nav#navBase > * {
	margin: auto 0;
}
nav#navBase.nav_index {
	color: var(--color_light);
}
nav#navBase.nav_index h1#mainLogo {
	color: var(--color_light);
}
nav#navBase.nav_index p.user_name span {
	color: var(--color_light);
}

ul#navbarMain {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	gap: 1rem;
}
ul#navbarMain a {
	position: relative;
}
ul#navbarMain a::before {
	display: block;
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0.4rem;
	border-radius: 0.1rem;
	background: var(--color_acc1);
	transition: 0.3s;
	z-index: -1;
	content: "";
}
ul#navbarMain a:hover::before {
	left: -0.15rem;
	width: calc(100% + .3rem);
}

div#layerAccount {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	margin-left: auto;
}
div#layerAccount > p.user_name {
	padding-left: 1.5rem;
}
div#layerAccount > p.user_name span {
	color: var(--color_title);
}

button.btn_account {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	width: 2.4rem;
	height: 2.4rem;
	box-sizing: padding-box;
	border: 0.1rem solid #fff;
	border-radius: 50%;
	background: #464a63;
	color: white;
	cursor: pointer;
	overflow: hidden;
}
button.btn_account img.profile_pict {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
button.btn_account:hover {
	background: #6d728f;
}

footer#footBase {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 5rem;
}
footer#footBase p {
	margin: 1rem auto;
}

a.banner_partner {
	display: block;
	padding: 1rem 0;
	width: 100%;
	font-size: var(--fnt_title);
	text-align: center;
}

/* ---------- 하부 요소 종료 ---------- */
/* ---------- 페이지 특정 요소 시작 ---------- */
div#mainSlider {
	position: relative;
	width: 100vw;
	height: 45vh;
	background: var(--color_bdr);
	box-shadow: 0 0.25rem 0.75rem var(--color_bdr);
	overflow: hidden;
}
div#mainSlider::before {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: radial-gradient(farthest-corner at right, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
	pointer-events: none;
	z-index: 1;
	content: "";
}
div#mainSlider .slick-arrow {
	position: absolute;
	bottom: 2rem;
	left: calc(50% - 24rem);
	z-index: 3;
}
div#mainSlider .slick-dots {
	display: flex;
	flex-flow: row nowrap;
	align-content: center;
	gap: 0.25rem;
	position: absolute;
	bottom: 2rem;
	left: calc(50% - 24rem);
	z-index: 3;
}

.slider_item {
	position: relative;
	width: 100%;
	height: 100%;
}
.slider_item img {
	width: 100%;
	height: 45vh;
	-o-object-fit: cover;
	   object-fit: cover;
}