/* ---------- Page-Specific Layout CSS (Service - Intro) ---------- */
/* ---------- 페이지 특정 요소 시작 ---------- */

#introFull {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 5rem;
    height: 100vh;
    background: url('../../index/images/img_original_size/img01.jpg') no-repeat top fixed;
    background-size: cover;
    filter: brightness(0);
    animation: light_up 5s 3s 1 linear forwards;
    z-index: -1;

    > .blur_blind {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    > .intro_text {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        position: sticky;
        top: 45%;
        left: 0;
        right: 0;
        height: 12rem;
        background: rgba(var(--color_dark), .5);
        backdrop-filter: blur(.5rem) grayscale(.5);
        font-family: var(--ff_serif);
        color: rgba(var(--color_light));
        text-align: center;

        > h2 {
            font-size: var(--fnt_40);

            > span {
                font-size: var(--fnt_20);
                font-weight: normal;
            }
        }

        > p {
            font-size: var(--fnt_16);
            opacity: .6;
        }
    }

    .intro_wheel {
        display: block;
        position: absolute;
        bottom: 12vh;
        left: calc(50% - .8rem);
        width: 1.8rem;
        height: 2.8rem;
        border: .1rem solid rgb(var(--color_light));
        border-radius: .9rem;
        opacity: 0;
        transition: .5s;

        &::before {
            display: block;
            position: absolute;
            top: .25rem;
            left: calc(50% - .1rem);
            width: .2rem;
            height: .5rem;
            border-radius: .1rem;
            background: rgb(var(--color_light));
            animation: wheel_down 1s ease-out infinite;
            content: '';
        }

        &::after {
            display: block;
            position: absolute;
            top: 140%;
            left: 50%;
            width: max-content;
            font-family: var(--ff_eng);
            color: rgb(var(--color_light));
            transform: translateX(-50%);
            content: 'SCROLL DOWN';
        }

        &.until_enough {
            position: fixed;
            opacity: 1;
        }
    }
}

@keyframes light_up {
    from {
        filter: brightness(0);
    }

    to {
        filter: none;
    }
}

@keyframes wheel_down {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(.75rem);
        opacity: 0;
    }
}

.flipper {
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    font-family: var(--ff_serif);
    color: white;
    font-size: var(--fnt_40);
    text-align: center;
    animation: disappear 1s 2s 1 linear forwards;
    z-index: 3;
}

@keyframes disappear {
    from {
        transform: none;
        opacity: 1;
    }

    to {
        transform: translateX(-2rem);
        opacity: 0;
    }
}

#svcTitle {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    margin: 2rem auto;
    padding: 0 10%;
    background: url('../images/about_img01.png') no-repeat center;
    background-size: 60% auto;

    > h3 {
        position: relative;
        font-size: var(--fnt_40);

        > span {
            font-size: var(--fnt_24);
            font-weight: normal;
        }

        &::before {
            position: absolute;
            top: 50%;
            left: 2rem;
            font-family: 'Berkshire Swash', cursive;
            color: rgb(var(--color_acc1));
            font-weight: normal;
            z-index: -1;
            content: 'Wine Together';
        }
    }

    hr {
        margin: 5rem;
    }

    > p {
        font-family: var(--ff_sans_p);
        font-size: var(--fnt_20);
        line-height: 1.4;

        &:last-child {
            text-align: end;
        }
    }
}

#svcPros {
    margin: 0 auto;
    width: 40rem;

    > div {
        padding: 2rem;
        min-width: 16rem;

        > h6 {
            font-size: var(--fnt_24);
            margin-bottom: 1rem;
        }

        > p {
            color: rgb(var(--color_footer));
            font-size: var(--fnt_16);
            line-height: 1.4;
        }

        &.pros_box {
            &_01 {
                padding-left: 7rem;
                background: url('../images/about_img04.png') no-repeat left center;
                background-size: contain;
            }
    
            &_02 {
                padding-right: 7rem;
                background: url('../images/about_img05.png') no-repeat right center;
                background-size: contain;
                text-align: end;
            }
    
            &_03 {
                padding-left: 7rem;
                background: url('../images/about_img06.png') no-repeat left center;
                background-size: contain;
            }
        }
    }
}

#svcDesc {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    margin: 4rem auto;
    max-width: 32rem;
    font-family: var(--ff_serif);
    font-size: var(--fnt_16);
    text-align: center;
    
    > p {
        line-height: 1.4;
    }

    > div {
        margin-top: 2.5rem;

        > button {
            position: relative;
            padding: .8rem 1.6rem;
            width: fit-content;
            border-radius: 1.5rem;
            box-shadow: none;
            color: rgb(var(--color_light));
            font-size: var(--fnt_16);
            line-height: 1;
            text-shadow: 0 .15rem .1rem rgba(var(--color_point1), .3);
            cursor: pointer;

            &:nth-child(1) {
                border: .1rem solid rgb(var(--color_acc2));
                background: transparent;
                color: rgb(var(--color_acc2));
                text-shadow: none;

                &:hover,
                &:active {
                    background: rgb(var(--color_acc2));
                    color: rgb(var(--color_light));
                    text-shadow: 0 .15rem .1rem rgba(var(--color_dark), .3);
                    transition: .3s;
                }
            }

            &:nth-child(2) {
                margin-left: .5rem;
                background: rgb(var(--color_acc1));

                &:hover,
                &:active {
                    background: rgb(var(--color_light));
                    color: rgb(var(--color_light));
                    text-shadow: 0 .15rem .1rem rgba(var(--color_dark), .3);
                    animation: pulse .5s linear infinite;

                    &::before {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        border-radius: inherit;
                        background: linear-gradient(to right, rgb(240, 30, 0) 0%, rgb(255, 160, 0) 25%, rgb(230, 230, 0) 50%, rgb(30, 190, 0) 75%, rgb(120, 0, 210) 100%) repeat-x;
                        filter: blur(.5rem);
                        animation: festive 1s infinite linear forwards;
                        z-index: -1;
                        content: '';
                    }
                }
            }
        }
    }
}

@keyframes festive {
    0% {
        background-position: -4rem;
    }

    100% {
        background-position: 4rem;
    }
}

@keyframes pulse {
    0% {

    }

    10% {
        transform: scale(1.3);
    }

    100% {
        transform: none;
    }
}