/* ---------- Page-Specific Layout CSS (Gathering (Detail)) ---------- */
/* ---------- 페이지 특정 요소 시작 ---------- */

section#contentBar {
    padding: 0;

    > article {
        padding: 1rem .5rem;
    }

    h4 {
        font-family: var(--ff_serif);
    }
}

div#detailSlide {
    position: relative;
    height: 17rem;
    overflow: hidden;

    &::before {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(to top, rgba(var(--color_dark), .75) 0%, transparent 50%);
        z-index: 1;
        content: '';
    }

    > .slide_body {
        width: inherit;
        height: inherit;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    > .slide_thumbs {
        position: absolute;
        bottom: .25rem;
        left: .25rem;
        right: .25rem;
        z-index: 2;

        .btn_thumb {
            display: block;
            padding: 0;
            width: 3rem;
            height: 2.25rem;
            border: var(--border);
            border-radius: var(--bdr_outer);
            box-shadow: none;
            opacity: .5;
            overflow: hidden;

            & + .btn_thumb {
                margin-left: .25rem;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &.slick-current {
                border: .1rem solid rgb(var(--color_acc1));
                opacity: 1;
            }
        }
    }
}

.info_title {
    margin: 0 0 .5rem .5rem;
}

.star_point {
    &::before {
        left: auto;
        right: 100%;
    }
}

.hf {
    background: rgb(var(--color_bdr));
}

.detail_title {
    position: relative;
    margin-bottom: .5rem;
    width: fit-content;
    font-family: var(--ff_sans_p);
    color: rgb(var(--color_title));
    z-index: 1;

    &::before {
        display: block;
        position: absolute;
        bottom: -.1rem;
        left: -.15rem;
        width: calc(100% + .3rem);
        height: .4rem;
        border-radius: .1rem;
        background: rgb(var(--color_bdr));
        z-index: -1;
        content: '';
    }
}

#partnerInfo {
    position: relative;

    .restaurant_hashtag {
        margin: .5rem 0 1rem;
        color: rgb(var(--color_bdr));
        font-size: var(--fnt_12);
    }

    .restaurant_rate {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        gap: .5rem;
        margin: .5rem .25rem .5rem 1.5rem;

        .review_count {
            font-family: var(--ff_sans_p);
            font-size: var(--fnt_12);
        }

        .location_mini {
            margin-left: auto;
        }
    }

    .partner_intro {
        margin-bottom: .75rem;
        padding: .5rem;
        background: rgb(var(--color_bg));
        border-radius: var(--bdr_outer);
        line-height: 1.6;
    }

    .location_mini {
        font-size: var(--fnt_12);
        text-align: end;
    }

    .location_map {
        margin-top: 1.5rem;
        padding: 0 .5rem;

        > img {
            width: 100%;
            height: 10rem;
            object-fit: cover;
        }
    }

    .reservation_info {
        margin-top: 1.5rem;
        padding: 0 .5rem;
    }

    .restaurant_option {
        margin-top: 1.5rem;
        padding: 0 .5rem;
    }
}

.bubble {
    width: initial !important;

    > .star_point {
        margin-top: .5rem;
        margin-left: auto;
    }
}

.review_container {
    padding-bottom: .5rem;
    border: var(--border);
    border-radius: var(--bdr_outer);
    background: rgb(var(--color_bg));
}

#btnOpen {
    position: absolute;
    top: -1.75rem;
    right: 1rem;
    padding: 0 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.25rem;
    background: rgb(var(--color_light)) url('../../common/images/icons/icon_gathering_26_b.png') no-repeat center;
    box-shadow: 0 .25rem .5rem rgba(var(--color_dark), .3);
    color: rgb(var(--color_light));
    font-size: var(--fnt_14);
    cursor: pointer;
    overflow: hidden;
    z-index: 2;

    > span {
        display: inline-block;
        width: 100%;
        text-align: end;
        opacity: 0;
    }

    &:hover,
    .mobile {
        width: 10rem;
        background: rgb(var(--color_acc1)) url('../../common/images/icons/icon_gathering_26_w.png') no-repeat left .75rem center;
        box-shadow: 0 .25rem .5rem rgba(var(--color_acc1), .3);
        transition: .3s;

        > span {
            opacity: 1;
            transition: .3s;
            transition-delay: .2s;
        }
    }
}

.food_container {
    padding: .5rem;
    border: var(--border);
    border-radius: var(--bdr_outer);
    background: rgb(var(--color_bg));
}

.food_item {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: .5rem .25rem;
    position: relative;

    & + .food_item {
        margin-top: 1rem;
    }

    > .food_face {
        width: 2.5rem;
        height: 2.5rem;
        border: var(--border);
        border-radius: var(--bdr_outer);
        object-fit: cover;
    }

    > .food_spec {
        > .food_name {
            font-family: var(--ff_sans_p);
        }

        > .food_desc {
            font-size: var(--fnt_12);
            line-height: 1.4;
        }
    }

    > .food_price {
        margin-left: auto;
    }

    > .food_images {
        display: flex;
        flex-flow: row wrap;
        gap: .5rem;
        width: 100%;

        > img {
            width: calc((100% - 1.5rem) / 4);
            height: 5rem;
            border: var(--border);
            border-radius: var(--bdr_outer);
            object-fit: cover;
        }
    }
}