/* ---------- Page-Specific Layout CSS (Partner (Detail)) ---------- */
/* ---------- 페이지 특정 요소 시작 ---------- */
/* ---------- 웹 버전 시작 ---------- */

div#subMainIMG {
    position: relative;
    width: 100%;
    height: 20rem;

    &::before,
    &::after {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &::before {
        background: linear-gradient(to top, rgba(0, 0, 0, .75) 0%, transparent 100%);
        pointer-events: none;
        z-index: 2;
        content: '';
    }

    &::after {
        backdrop-filter: blur(.25rem) brightness(.8);
        z-index: 1;
        content: '';
    }

    > .main_img_copy {
        width: inherit;
        height: inherit;
        object-fit: cover;
    }
} /* 서브 페이지 메인 이미지 */

div#wrapMain.sub {
    column-gap: 1rem;
    margin: 0 auto;
    width: 60rem;
    min-height: 100vh;
} /* 임시 - 서브 페이지 래퍼 사이즈 및 내부 정렬 */

div#detailSide {
    position: relative;
    margin-top: -13.5rem;
    width: 16rem;
    z-index: 3;
} /* 서브 페이지 사이드 바 */

div#detailContents {
    position: relative;
    width: 42rem;
} /* 서브 페이지 컨텐츠 */

div#detailSide_sticker {
    position: sticky;
    top: 6rem;
    left: 0;

    > .detail_hiddentitle {
        display: none;

        > p {
            margin-top: .25rem;
        }
    }

    > .detail_slider_paging {
        position: relative;
        width: 100%;
        height: .75rem;
    }

    > .detail_slider_container {
        margin: .25rem 0;
        width: 16rem;
        height: 16rem;
        background: rgba(var(--color_dark), .75);
        box-shadow: 0 .5rem 1rem -.5rem rgba(var(--color_dark), .2);

        > .detail_slider {
            .slider_item {
                position: relative;

                > img {
                    width: 16rem;
                    height: 16rem;
                    object-fit: cover;
                }
            }
        }
    }

    > .detail_reputation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .75rem 1rem;
        width: 100%;
        background: rgba(var(--color_dark), .75);
        font-family: var(--ff_sans_p);
        color: rgb(var(--color_light));

        > .count_review {
            margin-top: .1rem;
        }
    }

    > .detail_controller {
        margin: .5rem 0;
        width: 100%;
        height: 4.5rem;

        > button {
            display: block;
            float: left;
            width: 5rem;
            height: inherit;

            & + button {
                margin-left: .5rem;
            }
        }
    }

    > .detail_hiddenbutton {
        display: none;
    }
} /* 서브 페이지 스티키 메뉴 */

.starpoint_container {
    position: relative;

    > #hiddenSPCounter {
        display: none;
    }

    > .starpoint_total,
    > .starpoint_mine {
        position: absolute;
        left: calc(100% + .25rem);
        top: .2rem;
        width: max-content;
    }

    > .starpoint_mine {
        display: none;
    }
} /* 파트너 상세 페이지 별점 컨테이너 */

.starpoint_selector {
    position: relative;
    width: 1rem;
    height: 1rem;
    transition: .2s ease-out;
    overflow: hidden;

    @media (hover: hover) {
        &:hover {
            width: 5rem;
        }
    }

    > .star_single {
        position: absolute;
        top: 0;
        width: 1rem;
        height: 1rem;
        cursor: pointer;

        > svg {
            transform: rotate(-15deg);
        }

        &:nth-child(1) {
            left: 0;
        }

        &:nth-child(2) {
            left: 1rem;
        }

        &:nth-child(3) {
            left: 2rem;
        }

        &:nth-child(4) {
            left: 3rem;
        }

        &:nth-child(5) {
            left: 4rem;
        }

        &.glow {
            > svg > path {
                fill: gold;
            }
        }

        &.decided {
            animation: star_pulse .2s 1;

            > svg > path {
                fill: gold;
            }
        }

        &.star_blank {
            transform: scale(.8);

            > svg > path {
                fill: rgba(var(--color_light), .3);
            }
        }
    }
} /* 파트너 상세 페이지 별점 셀렉터 */

@keyframes star_pulse {
    from {
        transform: scale(1.5);
    }

    to {
        transform: none;
    }
} /* 별점 선택시 애니메이션 */

div#detailFront {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    position: absolute;
    bottom: 100%;
    width: 100%;
    padding: 1rem 0;
    color: rgb(var(--color_light));
    font-weight: normal;
    z-index: 4;

    > .front_paragraph {
        font-family: var(--ff_sans_p);
        font-size: var(--fnt_16);
        line-height: 1.5;
        opacity: .75;
    }

    > .front_title {
        font-family: var(--ff_serif);
        color: rgb(var(--color_light));
        font-size: var(--fnt_40);
        font-weight: inherit;
    }

    > .front_hashtag {
        > li {
            float: left;
            font-family: var(--ff_sans_p);
            opacity: .75;

            &::before {
                content: '#';
            }

            & + li {
                margin-left: 2rem;
            }
        }
    }
} /* 파트너 상세 페이지 메인 타이틀 */

.section_title {
    margin: 5rem 0 1.5rem;
    color: #707070;
    text-align: center;

    > h5 {
        color: #707070;
        font-size: var(--fnt_24);
        font-weight: normal;
    }

    > p {
        font-family: 'Berkshire Swash', cursive;
        font-size: var(--fnt_12);
        opacity: .5;
    }

    > hr {
        position: relative;
        margin-top: .75rem;
        background: #D9D7D2;
        overflow: visible;

        &::before {
            display: block;
            position: absolute;
            top: calc(50% - .15rem);
            left: calc(50% - .15rem);
            width: .3rem;
            height: .3rem;
            border: .05rem solid #D9D7D2;
            background: rgb(var(--color_bg));
            transform: rotateZ(45deg);
            content: '';
        }
    }
} /* 상세 페이지 섹션 타이틀 - 인터페이스로 가야 함 */

button.btn_rotate {
    display: block;
    margin: 2.5rem auto;
} /* 회전 버튼 단독 스타일 */

section#partnerIntro {
    > .intro_text {
        position: relative;
        margin: 3rem auto;
        max-width: 32rem;
        color: #707070;
        font-size: var(--fnt_20);
        font-weight: lighter;
        text-align: center;
        letter-spacing: -.05rem;
        line-height: 1.5;

        &::before,
        &::after {
            position: absolute;
            top: -1rem;
            font-family: var(--ff_serif);
            font-size: 5rem;
            opacity: .5;
        }

        &::before {
            right: calc(100% + 1rem);
            content: '“';
        }

        &::after {
            left: calc(100% + 1rem);
            content: '”';
        }
    }
} /* 파트너 상세 페이지 맛집 소개 */

section#partnerMenu {
    > div#courseTabContainer {
        width: 100%;

        > .button_container {
            padding: 0 .5rem;

            > button {
                display: block;
                position: relative;
                float: left;
                width: 5rem;
                height: 1.75rem;
                border-radius: 0;
                background: rgba(var(--color_dark), .75);
                box-shadow: none;
                color: rgb(var(--color_light));

                & + button {
                    margin-left: .05rem;
                }

                &::before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    height: .25rem;
                    content: '';
                }

                &.tab_selected {
                    background: rgb(var(--color_light));
                    color: rgb(var(--color_text));
                    font-weight: bold;

                    &::before {
                        background: rgb(Var(--color_acc1));
                    }
                }
            }
        }
    }
} /* 파트너 상세 페이지 코스 요리 소개 */

.course_single_tab {
    display: none;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: .5rem;
    height: 21rem;
    border-bottom-left-radius: var(--bdr_outer);
    background: rgb(var(--color_light));
    box-shadow: 0 .05rem 0 rgba(var(--color_dark), .1);
    font-family: var(--ff_sans_p);

    &.show {
        display: flex;
    }

    > .course_img_container {
        width: 20rem;
        height: 100%;

        > .course_img_slider {
            position: relative;
            width: 100%;
            height: 100%;

            > .course_slider_img {
                width: 20rem;
                height: 100%;
                background: rgba(var(--color_dark), .75);

                > img {
                    width: inherit;
                    height: inherit;
                    object-fit: cover;
                }
            }

            > .course_slider_desc {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                padding: .5rem;
                background: rgba(var(--color_dark), .75);
                color: rgb(var(--color_light));
                line-height: 1.5;
            }
        }
    }

    > .course_dish_list {
        display: flex;
        flex-flow: column nowrap;
        position: relative;
        width: 20.5rem;
        height: 100%;

        > .name_of {
            padding: .5rem;
            border-bottom: .05rem solid #D9D7D2;
            text-align: center;
        }

        > .list_of {
            font-size: var(--fnt_12);
            overflow-y: auto;

            &::-webkit-scrollbar {
                background: transparent;
            }

            > ul {
                > li {
                    padding: .75rem .5rem;
                }

                > hr {
                    background: #D9D7D2;
                }

                dt {
                    font-size: var(--fnt_14);
                    font-weight: bold;

                    &::before {
                        content: '+ ';
                    }
                }

                dd {
                    padding: .5rem .25rem 0;
                    opacity: .75;
                }
            }
        }

        > .price_of {
            padding: 1rem .25rem .5rem;
            background: radial-gradient(ellipse at top, #F2EBEB 0%, transparent 75%);
            text-align: end;

            > span {
                font-family: var(--ff_eng);
                font-size: var(--fnt_20);
                font-weight: bold;
            }
        }
    }
} /* 코스 요리 개별 탭 */

section#partnerReview {
    width: 100%;
} /* 파트너 상세 페이지 후기 */

#reviewList {
    > #reviewPager {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        column-gap: .5rem;
        margin: 1rem auto 0;
        padding: 1rem;
        width: 18rem;
        background: radial-gradient(ellipse at top, #F2EBEB 0%, transparent 75%);
        font-family: var(--ff_eng);
        font-size: var(--fnt_12);

        > li {
            width: 1.5rem;
            height: 1.2rem;
            border-radius: var(--bdr_outer);
            text-align: center;
            line-height: 1.2rem;
            cursor: pointer;

            &.pager_prev {
                margin-right: auto;
            }

            &.pager_next {
                margin-left: auto;
            }

            &.current {
                background: rgba(var(--color_dark), .75);
                color: rgb(var(--color_light));
                font-weight: bold;
            }
        }
    } /* 후기 리스트 페이저 */
} /* 파트너 상세 페이지 후기 리스트 */

.review_container {
    & + .review_container {
        margin-top: 2rem;
    }

    &:is([data-isthis-mine="true"]) {
        .show_me_only {
            display: initial;
        }
    }

    &:is([data-isthis-mine="false"]) {
        .show_me_only {
            display: none;
        }
    }

    > div {
        float: left;

        & + div {
            margin-left: .5rem;
        }

        &.review_pict_box {
            position: relative;
            width: 8rem;
            height: 8rem;
            border-radius: var(--bdr_outer);
            background: rgba(var(--color_dark), .75);
            overflow: hidden;

            > a {
                display: block;
                width: 100%;
                height: 100%;

                > img {
                    width: inherit;
                    height: inherit;
                    object-fit: cover;
                }

                > .blind_box {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    padding: 2rem 0;
                    background: rgba(var(--color_dark), .5);
                    color: rgb(var(--color_light));
                    text-align: center;
                    line-height: 1.6;

                    > span {
                        font-size: var(--fnt_30);
                    }
                }
            }
        } /* Picture Box */

        &.review_comment_box {
            padding: .5rem;
            width: 27rem;
            min-height: 8rem;
            border-radius: var(--bdr_outer);
            background: rgb(var(--color_light));
            box-shadow: 0 .05rem 0 rgba(var(--color_dark), .1);

            > .comment_title {
                font-weight: normal;
                line-height: 1rem;
                letter-spacing: -.05rem;
            }

            > .comment_content {
                margin: .5rem 0 1rem;
                min-height: 3.5rem;
                font-size: var(--fnt_12);
                font-weight: 300;
                line-height: 1.8;
            }

            > .comment_info {
                display: flex;
                justify-content: space-between;
                align-items: center;

                > .written_date {
                    color: #707070;
                    font-family: var(--ff_eng);
                    font-size: var(--fnt_12);
                }
            }
        } /* Comment Box */
    }

    > .review_button_box {
        float: left;
        margin-left: .5rem;
        width: 6rem;
        font-family: var(--ff_sans_p);
        font-size: var(--fnt_12);

        > li {
            > label {
                display: block;
                width: 100%;
                cursor: pointer;
            }

            button {
                padding: .5rem;
                width: 2rem;
                height: 2rem;
            }
        }
    } /* Button Box */
} /* 후기 개별 아이템 */

section#partnerDepth {
    > .intro_detail {
        margin-top: 1rem;

        > ul {
            float: left;
            width: 50%;
            padding: .5rem;

            > li {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: .5rem;
            }

            > hr {
                background: #D9D7D2;
            }

            &.partner_info {
                > li {
                    font-family: var(--ff_sans_p);
                    line-height: 1.5;

                    > svg {
                        margin-right: .25rem;
                        fill: #707070;
                    }

                    > span:first-of-type {
                        font-weight: normal;
                        color: #A4A4A4;
                    }

                    > span:last-of-type {
                        margin-left: auto;
                        text-align: end;
                    }
                }
            }

            &.partner_disclaimer {
                > li {
                    font-family: var(--ff_sans_p);
                    color: #A4A4A4;
                    font-size: .5rem;
                    font-weight: normal;
                    line-height: 1.5;
                }
            }
        }
    }
} /* 파트너 상세 페이지 매장 정보 */

section#partnerLocation {
    > .location_container {
        > div {
            float: left;

            & + div {
                margin-left: 1rem;
            }

            &.map_container {
                position: relative;
                width: 20.5rem;
                height: 20rem;
                border-radius: .15rem;
                overflow: hidden;

                > .location_gps {
                    display: flex;
                    gap: .25rem;
                    align-items: center;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    padding: .5rem;
                    background: rgba(var(--color_dark), .75);
                    font-family: var(--ff_sans_p);
                    color: rgb(var(--color_light));
                    font-size: var(--fnt_12);
                    font-weight: normal;

                    > svg {
                        fill: rgb(var(--color_acc2));
                    }

                    > span {
                        padding-top: .15rem;
                    }
                }

                > .map_api {
                    width: inherit;
                    height: inherit;
                    border: .05rem solid #D9D7D2;
                    border-radius: .15rem;
                    background: url('../images/temp_map.png') no-repeat center;
                }
            }

            &.info_container {
                width: 20.5rem;

                > ul {
                    > li {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        padding: .25rem .5rem .25rem .25rem;
                        font-family: var(--ff_sans_p);

                        > svg {
                            margin-right: .25rem;
                            fill: #707070;
                        }

                        > span:first-of-type {
                            font-weight: normal;
                            color: #A4A4A4;
                        }

                        > span:last-of-type {
                            margin-left: auto;
                            text-align: end;
                        }
                    }

                    > hr {
                        margin: .5rem 0;
                        background: #D9D7D2;
                    }
                }

                > .location_disclaimer {
                    margin-top: 2rem;
                    font-family: var(--ff_sans_p);
                    color: #A4A4A4;
                    font-size: .5rem;
                    font-weight: normal;
                    line-height: 1.5;
                }
            }
        }
    }
} /* 파트너 상세 페이지 찾아오시는 길 */

/* ---------- 웹 버전 종료 ---------- */
/* ---------- 모바일 버전 시작 ---------- */


/* ---------- 모바일 버전 종료 ---------- */
/* ---------- 페이지 특정 요소 종료 ---------- */
/* ---------- 페이지 특정 미디어 쿼리 시작 ---------- */

@media only screen and (hover: none) and (pointer: coarse) {

} /* 모바일 디바이스 미디어 쿼리 */

/* ---------- 페이지 특정 미디어 쿼리 종료 ---------- */