@charset "UTF-8";
/* ---------- Page-Specific Layout CSS (Review (List)) ---------- */
/* ---------- SCSS 공통 선언 시작 ---------- */
/* ---------- SCSS 공통 선언 종료 ---------- */
/* ---------- 영역 공통 선언 시작 ---------- */
/* ---------- 영역 공통 선언 종료 ---------- */
/* ---------- 하부 요소 시작 ---------- */
/* ---------- 하부 요소 종료 ---------- */
/* ---------- 페이지 특정 요소 시작 ---------- */
.sec_title {
	margin-bottom: 1.5rem;
}

#secList_reivew {
	display: flex;
	flex-flow: row wrap;
	gap: 1.5rem 0.5rem;
}