/* ---------- Page-Specific Layout CSS (Gathering (Detail)) ---------- */
/* ---------- 페이지 특정 요소 시작 ---------- */

section#contentBar {
    padding: 0;

    > article {
        padding: 1rem .5rem;
    }

    h4 {
        font-family: var(--ff_serif);
    }
}

div#detailSlide {
    position: relative;
    height: 17rem;
    overflow: hidden;

    &::before {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(to top, rgba(var(--color_dark), .75) 0%, transparent 50%);
        z-index: 1;
        content: '';
    }

    > .slide_body {
        width: inherit;
        height: inherit;

        > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    > .slide_thumbs {
        position: absolute;
        bottom: .25rem;
        left: .25rem;
        right: .25rem;
        z-index: 2;

        .btn_thumb {
            display: block;
            padding: 0;
            width: 3rem;
            height: 2.25rem;
            border: var(--border);
            border-radius: var(--bdr_outer);
            box-shadow: none;
            opacity: .5;
            overflow: hidden;

            & + .btn_thumb {
                margin-left: .25rem;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &.slick-current {
                border: .1rem solid rgb(var(--color_acc1));
                opacity: 1;
            }
        }
    }
}

.review_info {
    > .group_desc {
        margin: 1rem 0;
    }

    > .group_type {
        position: relative;
        font-size: var(--fnt_12);
    
        &::before {
            display: inline-block;
            margin-right: .25rem;
            padding: .15rem .5rem;
            border: .05rem solid currentColor;
            border-radius: var(--bdr_outer);
            font-family: var(--ff_eng);
            color: rgba(var(--color_light), .75);
            font-weight: bold;
            text-shadow: .05rem .05rem 0 rgba(var(--color_dark), .3);
            transition: .3s;
            z-index: 2;
            content: '';
        }
    
        &:is([data-category="byob"]) {
            color: rgb(var(--color_acc2));

            &::before {
                border-color: #008841;
                background: rgb(var(--color_acc2));
                content: 'BYOB';
            }
        }
    
        &:is([data-category="list"]) {
            color: rgb(var(--color_acc1));

            &::before {
                border-color: #dc801f;
                background: rgb(var(--color_acc1));
                content: 'LIST';
            }
        }
    }
}

.info_title {
    margin: 0 0 .5rem .5rem;
}

.detail_title {
    position: relative;
    margin-bottom: .5rem;
    width: fit-content;
    font-family: var(--ff_sans_p);
    color: rgb(var(--color_title));
    z-index: 1;

    &::before {
        display: block;
        position: absolute;
        bottom: -.1rem;
        left: -.15rem;
        width: calc(100% + .3rem);
        height: .4rem;
        border-radius: .1rem;
        background: rgb(var(--color_bdr));
        z-index: -1;
        content: '';
    }
}

#detailInfo {
    .review_info {
        text-align: center;
    }
}

.review_starpoint {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin: 1rem 0;
}

.starpoint_kind {
    width: 4rem;

    p {
        margin-bottom: .25rem;
    }
}

#detailReview {
    position: relative;
    padding: 0 .5rem;

    input#txtComment {
        margin-top: .5rem;
        padding: .75rem .5rem;
        width: 100%;
        border-top: var(--border);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        box-shadow: none;
    }

    button#btnReturn {
        position: absolute;
        bottom: .25rem;
        right: .25rem;
        padding: .55rem 1.5rem .45rem .5rem;
        background: rgb(var(--color_acc2)) url('../../common/images/icons/icon_return.png') no-repeat center right .5rem;
        background-size: .6rem;
        box-shadow: none;
        color: rgb(var(--color_light));

        &:focus {
            outline: .05rem solid rgb(var(--color_tone2));
            outline-offset: -.1rem;
        }
    }
}

#detailDesc {
    hr.hf {
        margin-bottom: .5rem;
        background: rgb(var(--color_bdr));
    }

    .desc_intro {
        padding: .5rem;
        line-height: 1.6;
    }
}