@charset "UTF-8";
/* ---------- Page-Specific Layout CSS (Index) ---------- */
/* ---------- SCSS 공통 선언 시작 ---------- */
/* ---------- SCSS 공통 선언 종료 ---------- */
/* ---------- 영역 공통 선언 시작 ---------- */
/* ---------- 영역 공통 선언 종료 ---------- */
/* ---------- 하부 요소 시작 ---------- */
/* ---------- 하부 요소 종료 ---------- */
/* ---------- 페이지 특정 요소 시작 ---------- */
div#mainSlider {
	position: relative;
	width: 100%;
	height: 45vh;
	background: var(--color_bdr);
	box-shadow: var(--shd_minor);
	overflow: hidden;
}
div#mainSlider::before {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: radial-gradient(farthest-corner at right, transparent 0%, rgba(var(--color_dark), 0.5) 100%);
	pointer-events: none;
	z-index: 1;
	content: "";
}

.slider_item {
	position: relative;
	width: 100%;
	height: 100%;
}
.slider_item img {
	width: 100%;
	height: 45vh;
	-o-object-fit: cover;
	   object-fit: cover;
}

#secBanner_01 {
	position: relative;
	margin: 4rem 0;
	height: 8rem;
	border-radius: var(--bdr_outer);
	background: linear-gradient(to right, rgb(var(--color_tone2)) 50%, #5c8bb4 100%);
}
#secBanner_01 > * {
	position: absolute;
}
#secBanner_01 > p {
	top: 1.5rem;
	left: 1.5rem;
	font-size: var(--fnt_text);
	font-weight: bold;
}
#secBanner_01 > h2 {
	top: 3.5rem;
	left: 1.5rem;
	font-family: var(--ff_serif);
	color: rgb(var(--color_title));
}
#secBanner_01 > .banner_image {
	top: -1.5rem;
	right: 2.5rem;
	height: 11rem;
}

.card_partner {
	position: relative;
	width: calc((100% - 1.5rem) / 4);
	height: 10rem;
	border: 0.05rem solid rgb(var(--color_bdr));
	background: rgb(var(--color_light));
}
.card_partner > img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
.card_partner_overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0.5rem;
	height: 3rem;
	background: rgba(var(--color_dark), 0.5);
	-webkit-backdrop-filter: blur(0.25rem);
	        backdrop-filter: blur(0.25rem);
	transition: 0.3s;
	overflow: hidden;
}
.card_partner_overlay > h5,
.card_partner_overlay p {
	color: rgb(var(--color_light));
	font-weight: normal;
	transition: 0.3s;
}
.card_partner_overlay > p {
	line-height: 1.6;
}
.card_partner_desc {
	margin-top: 1rem;
	opacity: 0;
}
.card_partner_tag {
	position: absolute;
	bottom: 0.5rem;
	left: 0.5rem;
	right: 0.5rem;
	text-align: end;
}
.card_partner_tag > span {
	display: inline-block;
	padding: 0.3rem 0.4rem;
	border-radius: var(--bdr_outer);
	background: rgb(var(--color_tone2));
	color: rgb(var(--color_acc2));
	font-size: var(--fnt_small);
	transition: 0.3s;
	opacity: 0;
}
.card_partner:hover > .card_partner_overlay {
	height: 100%;
}
.card_partner:hover .card_partner_desc {
	opacity: 0.8;
}
.card_partner:hover .card_partner_tag > span {
	opacity: 1;
}