@charset "UTF-8";
/* ---------- Page-Specific Layout CSS (Gathering (Detail)) ---------- */
/* ---------- 페이지 특정 요소 시작 ---------- */
section#contentBar {
	padding: 0;
}
section#contentBar > article {
	padding: 1rem 0.5rem;
}
section#contentBar h4 {
	font-family: var(--ff_serif);
}

div#detailSlide {
	position: relative;
	height: 17rem;
	overflow: hidden;
}
div#detailSlide::before {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: linear-gradient(to top, rgba(var(--color_dark), 0.75) 0%, transparent 50%);
	content: "";
}
div#detailSlide > .slide_body {
	width: inherit;
	height: inherit;
}
div#detailSlide > .slide_body > img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
div#detailSlide > .slide_thumbs {
	position: absolute;
	bottom: 0.25rem;
	left: 0.25rem;
	z-index: 2;
}
div#detailSlide > .slide_thumbs > button {
	display: block;
	float: left;
	padding: 0;
	width: 3rem;
	height: 2.25rem;
	border: var(--border);
	border-radius: var(--bdr_outer);
	box-shadow: none;
	opacity: 0.5;
}
div#detailSlide > .slide_thumbs > button.active {
	border: 0.1rem solid rgb(var(--color_acc1));
	border-radius: 0.1rem;
	opacity: 1;
}
div#detailSlide > .slide_thumbs > button + button {
	margin-left: 0.25rem;
}

button#btnJoin {
	padding: 0.5rem 2rem;
	background: rgb(var(--color_acc1));
	color: rgb(var(--color_light));
	font-size: var(--fnt_16);
}

#detailInfo .gathering_info {
	text-align: center;
}
#detailInfo .spec_info {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 1.5rem;
	margin: 1rem 0;
	padding: 1rem 0;
	border-top: var(--border);
	border-bottom: var(--border);
	font-size: var(--fnt_12);
}
#detailInfo .spec_info > p {
	width: calc((100% - 5rem) / 2);
}
#detailInfo .spec_info > p span {
	padding: 0.25rem;
	border-radius: 0.15rem;
	background: rgb(var(--color_bg));
}
#detailInfo .host_info {
	padding: 0.5rem;
	width: 100%;
	border: var(--border);
	border-radius: var(--bdr_outer);
	background: rgb(var(--color_bg));
}
#detailInfo .host_info .host_pict {
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
}
#detailInfo .host_info button.user_profile {
	padding: 0.25rem 2rem;
	background: rgb(var(--color_acc2));
	color: rgb(var(--color_light));
}

#detailReview {
	padding: 0 0.5rem;
}
#detailReview input#txtComment {
	margin-top: 0.5rem;
	width: 100%;
	border-top: var(--border);
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	box-shadow: none;
}

.review_comment {
	border: var(--border);
	border-radius: var(--bdr_outer);
	background: rgb(var(--color_bg));
}

.comment_container {
	padding: 0.75rem;
}
.comment_container .comment_bubble {
	position: relative;
}
.comment_container .comment_bubble + .comment_bubble {
	margin-top: 1rem;
}
.comment_container .comment_bubble .comment_user {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	margin-bottom: 0.25rem;
}
.comment_container .comment_bubble .bubble {
	position: relative;
	margin-left: 1rem;
	padding: 0.4rem 0.5rem 0.3rem;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	border: var(--border);
	border-radius: var(--bdr_outer);
	background: rgb(var(--color_light));
	box-shadow: 0 0 75rem rgba(var(--color_subtle), 0.3);
	font-family: var(--ff_sans_p);
	color: rgb(var(--color_title));
	font-size: var(--fnt_12);
}
.comment_container .comment_bubble .bubble_point {
	display: block;
	position: absolute;
	top: 0.4rem;
	right: 100%;
	width: 0.5rem;
	height: 0.5rem;
	background: rgb(var(--color_bdr));
	-webkit-clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
	        clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
}
.comment_container .comment_bubble .bubble_point_back {
	display: block;
	position: absolute;
	left: 0.1rem;
	width: 100%;
	height: 100%;
	background: rgb(var(--color_light));
	-webkit-clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
	        clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
}