/* ---------- Page-Specific Layout CSS (Gathering (Detail)) ---------- */
/* ---------- 페이지 특정 요소 시작 ---------- */

section#contentBar {
    padding: 0;

    > article {
        padding: 1rem .5rem;
    }

    h4 {
        font-family: var(--ff_serif);
    }
}

div#detailSlide {
    position: relative;
    height: 17rem;
    overflow: hidden;

    &::before {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(to top, rgba(var(--color_dark), .75) 0%, transparent 50%);
        z-index: 1;
        content: '';
    }

    > .slide_body {
        width: inherit;
        height: inherit;

        > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    > .slide_thumbs {
        position: absolute;
        bottom: .25rem;
        left: .25rem;
        right: .25rem;
        z-index: 2;

        .btn_thumb {
            display: block;
            padding: 0;
            width: 3rem;
            height: 2.25rem;
            border: var(--border);
            border-radius: var(--bdr_outer);
            box-shadow: none;
            opacity: .5;
            overflow: hidden;

            & + .btn_thumb {
                margin-left: .25rem;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &.slick-current {
                border: .1rem solid rgb(var(--color_acc1));
                opacity: 1;
            }
        }
    }
}

.gathering_info {
    > .group_desc {
        margin: 1.5rem 0 2rem;
        font-family: var(--ff_sans_p);
        font-size: var(--fnt_16);
    }
}

.info_title {
    margin: 0 0 .5rem .5rem;
}

.detail_title {
    position: relative;
    margin-bottom: .5rem;
    width: fit-content;
    font-family: var(--ff_sans_p);
    color: rgb(var(--color_title));
    z-index: 1;

    &::before {
        display: block;
        position: absolute;
        bottom: -.1rem;
        left: -.15rem;
        width: calc(100% + .3rem);
        height: .4rem;
        border-radius: .1rem;
        background: rgb(var(--color_bdr));
        z-index: -1;
        content: '';
    }
}

#detailInfo {
    .gathering_info {
        text-align: center;
    }

    .spec_info {
        margin-bottom: 1rem;
        border-top: var(--border);
        border-bottom: var(--border);
        font-size: var(--fnt_12);

        > li {
            padding: 1rem;
            font-family: var(--ff_sans_p);

            span:first-child {
                color: rgb(var(--color_footer));
            }

            span:last-child {
                margin-left: 1rem;
                font-size: var(--fnt_14);
                vertical-align: middle;
            }
        }
    }

    .hostinfo_body {
        padding: .5rem;
        border: var(--border);
        border-radius: var(--bdr_outer);
        background: rgb(var(--color_bg));

        .user_tag {
            align-items: flex-start;

            > dl {
                width: 100%;

                > .host_intro {
                    position: relative;
                    margin-top: .5rem;
                    padding: 1rem .5rem;
                    border-radius: var(--bdr_outer);
                    background: rgb(var(--color_light));
                    box-shadow: 0 0 .5rem -.25rem rgba(var(--color_dark), .5);
                    font-family: var(--ff_sans_p);
                    font-size: var(--fnt_14);
                    text-align: center;

                    &::before,
                    &::after {
                        display: block;
                        position: absolute;
                        font-family: var(--ff_serif);
                        font-size: 5rem;
                        pointer-events: none;
                        opacity: .5;
                    }

                    &::before {
                        top: .25rem;
                        left: 0;
                        content: '“';
                    }

                    &::after {
                        top: .25rem;
                        right: 0;
                        content: '”';
                    }
                }
            }
        }
    }
}

#btnJoin {
    display: block;
    margin: 1rem auto;
}

#detailOffer {
    > div + div {
        margin-top: .5rem;
    }
}

.offer_wine {
    padding: .5rem;
    border: var(--border);
    border-radius: var(--bdr_outer);
    background: rgb(var(--color_bg));

    .list_wine,
    .byob_wine {
        display: flex;
        flex-flow: row wrap;

        > li {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            gap: .5rem;
            padding: .25rem;
            width: 50%;
            border-radius: var(--bdr_outer);

            &:hover {
                background: rgb(var(--color_tone2));
                transition: .3s;

                .off_name {
                    color: rgb(var(--color_acc2));
                    font-size: var(--fnt_14);
                    transition: .3s;
                }
            }

            > .wine_icon {
                width: 2.5rem;
                height: 2.5rem;
            }

            > .offering_wine_info {
                font-size: var(--fnt_12);
            }

            .off_name {
                font-family: var(--ff_sans_p);
            }
        }
    }
}

.offer_food {
    padding: .5rem;
    border: var(--border);
    border-radius: var(--bdr_outer);
    background: rgb(var(--color_bg));

    > .list_food {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        row-gap: .5rem;
        border-radius: var(--bdr_outer);
        font-size: var(--fnt_12);

        > dt {
            > img {
                width: 2.5rem;
                height: 2.5rem;
                border: var(--border);
                border-radius: var(--bdr_outer);
                object-fit: cover;
            }
        }

        > dd {
            &.course_list {
                margin-left: .25rem;

                > p:nth-child(1) {
                    font-family: var(--ff_sans_p);
                }
            }

            &.food_pict {
                display: flex;
                flex-flow: row wrap;
                gap: .5rem;
                width: 100%;

                img {
                    width: calc((100% - 1.5rem) / 4);
                    aspect-ratio: 4 / 2.5;
                    border: var(--border);
                    border-radius: var(--bdr_outer);
                    object-fit: cover;
                }
            }
        }
    }
}

#detailReview {
    position: relative;
    padding: 0 .5rem;

    input#txtComment {
        margin-top: .5rem;
        padding: .75rem .5rem;
        width: 100%;
        border-top: var(--border);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        box-shadow: none;
    }

    button#btnReturn {
        position: absolute;
        bottom: .25rem;
        right: .25rem;
        padding: .55rem 1.5rem .45rem .5rem;
        background: rgb(var(--color_acc2)) url('../../common/images/icons/icon_return.png') no-repeat center right .5rem;
        background-size: .6rem;
        box-shadow: none;
        color: rgb(var(--color_light));

        &:focus {
            outline: .05rem solid rgb(var(--color_tone2));
            outline-offset: -.1rem;
        }
    }
}

.tab_container {
    position: absolute;
    top: 1.2rem;
    right: 1rem;
    font-family: var(--ff_sans_p);
    font-size: var(--fnt_12);

    button {
        display: inline-block;
        position: relative;
        padding: .5rem .5rem .4rem;border-radius: var(--bdr_inner);
        background: linear-gradient(180deg, rgb(var(--color_subtle)) 0%, transparent 100%);
        box-shadow: none;
        cursor: pointer;

        &.on {
            background: rgb(var(--color_text));
            color: rgb(var(--color_light));
            pointer-events: none;
        }
    }
}

#detailDesc {
    hr.hf {
        margin-bottom: .5rem;
        background: rgb(var(--color_bdr));
    }

    .desc_intro {
        padding: .5rem;
        line-height: 1.6;
    }
}