/* ---------- Page-Specific Layout CSS (Gathering (Open)) ---------- */

/* ---------- SCSS 공통 선언 시작 ---------- */



/* ---------- SCSS 공통 선언 종료 ---------- */
/* ---------- 영역 공통 선언 시작 ---------- */

#wrapMain {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

/* ---------- 영역 공통 선언 종료 ---------- */
/* ---------- 하부 요소 시작 ---------- */



/* ---------- 하부 요소 종료 ---------- */
/* ---------- 페이지 특정 요소 시작 ---------- */

#contentBar > h3 {
    margin-top: .5rem;
}

#txtTitle,
#txtDesc_s,
#txtWinePrice {
    width: 100%;
}

.range_spot {
    display: block;
    position: absolute;
    top: 1.15rem;
    width: .05rem;
    height: .5rem;
    background: rgb(var(--color_text));
    font-size: var(--fnt_12);

    &::after {
        display: block;
        position: absolute;
        top: calc(100% + .15rem);
        left: 50%;
        width: max-content;
        text-align: center;
        transform: translateX(-50%);
    }

    &:nth-child(2) {
        left: .35rem;

        &::after {
            content: '4명';
        }
    }

    &:nth-child(3) {
        left: calc((50% - (100% / 6 * 2)) + .25rem);

        &::after {
            content: '5';
        }
    }

    &:nth-child(4) {
        left: calc((50% - (100% / 6)) + .1rem);

        &::after {
            content: '6';
        }
    }

    &:nth-child(5) {
        left: calc(50% - .025rem);

        &::after {
            content: '7';
        }
    }

    &:nth-child(6) {
        right: calc((50% - (100% / 6)) + .1rem);

        &::after {
            content: '8';
        }
    }

    &:nth-child(7) {
        right: calc((50% - (100% / 6 * 2)) + .25rem);

        &::after {
            content: '9';
        }
    }

    &:nth-child(8) {
        right: .35rem;

        &::after {
            content: '10';
        }
    }
}

.frm_aligner {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.bring_wine {
    width: 5rem;

    > .wine_icon {
        margin: 0 auto .25rem;
    }

    > input,
    button {
        display: block;
        float: left;
        text-align: center;
    }

    > input {
        margin: 0 .25rem;
        width: 2rem;
    }

    > button {
        width: 1.2rem;
        background: rgb(var(--color_text));
        color: rgb(var(--color_light));
    }
}