/* ---------- Interface CSS ---------- */

a:link,
a:visited {
    text-decoration: none;
}

/* ---------- Scrollbar Start ---------- */

::-webkit-scrollbar {
    width: .6rem;
    background: rgb(var(--color_subtle));
}

::-webkit-scrollbar-thumb {
    border: .05rem solid transparent;
    border-radius: .2rem;
    background: rgb(var(--color_text));
    background-clip: padding-box;
    -webkit-box-shadow: none;
            box-shadow: none;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
            box-shadow: none;
}

/* ---------- Scrollbar End ---------- */
/* ---------- Form Elements Start ---------- */

%interface_box_elmt {
    position: relative;
    padding: .45rem .5rem .4rem;
    border-radius: var(--bdr_outer);
    background: rgba(var(--color_light), 1);
    box-shadow: 0 0 0 .05rem rgb(var(--color_bdr));
    outline: none;
    color: rgb(var(--color_text));
    font-family: var(--ff_sans_p);
    font-size: .6rem;
    vertical-align: middle;

    &::placeholder {
        color: rgb(var(--color_bdr));
    }
}

%images_with_border {
    border: var(--border);
    border-radius: var(--bdr_outer);
    object-fit: cover;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="search"],
input[type="number"],
input[list],
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="image"],
textarea,
select,
output,
button {
    @extend %interface_box_elmt;

    &:focus {
        box-shadow: 0 0 0 .1rem rgba(var(--color_acc1), .5);
    }
}

button.btn_search {
    background: rgb(var(--color_acc1));
    box-shadow: none;
    color: rgb(var(--color_light));
}

button.btn_rotate {
    position: relative;
    padding: 0;
    width: 10rem;
    height: 2rem;
    background: transparent;
    box-shadow: none;
    cursor: pointer;

    > p {
        position: absolute;
        width: inherit;
        height: inherit;
        font-family: var(--ff_sans_p);
        color: rgb(var(--color_light));
        font-size: var(--fnt_14);
        line-height: 2rem;
        transform-origin: 50% 50% 1rem;
        transition: .3s;

        &.rotate_box1 {
            top: 0;
            left: 0;
            background: rgba(var(--color_dark), .75);
        }

        &.rotate_box2 {
            top: 0;
            left: 0;
            background: rgb(var(--color_acc1));
            text-shadow: 0 0 .25rem rgba(var(--color_point1), .5);
            transform: rotateX(90deg);
        }
    }

    @media (hover: hover) {
        &:hover {
            > p {
                &.rotate_box1 {
                    transform: rotateX(-90deg);
                }
    
                &.rotate_box2 {
                    transform: rotateX(0deg);
                }
            }
        }
    }
} /* 회전 버튼 */

button.btn_scale {
    position: relative;
    background: transparent;
    box-shadow: none;
    color: #707070;
    cursor: pointer;

    &::before {
        display: block;
        position: absolute;
        top: 44%;
        bottom: 44%;
        left: 44%;
        right: 44%;
        background: transparent;
        transition: .3s;
        z-index: -1;
        content: '';
    }

    > svg {
        fill: #707070;
    }

    @media (hover: hover) {
        &:hover {
            color: rgb(var(--color_light));

            &::before {
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: rgba(var(--color_dark), .75);
            }

            > svg {
                fill: rgb(var(--color_light));
            }
        }
    }
} /* 배경 확대 버튼 */

textarea {
    resize: none;
    line-height: 1.8;
}

select {
    padding: .35rem .25rem .3rem .25rem;
}

input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"] {
    @extend %interface_box_elmt;
    padding: .35rem .25rem .25rem;

    &:focus {
        box-shadow:
            var(--shd_major),
            0 0 0 .1rem rgba(var(--color_acc1), .5);
    }
}

input[type="file"] {
    @extend %interface_box_elmt;
    display: block;
    padding: .25rem;
    width: 100%;
    font-size: var(--fnt_16);

    & + label {
        color: rgb(var(--color_acc2), .75);
        font-size: var(--fnt_12);
    }

    &::file-selector-button {
        margin-right: .5rem;
        padding: .5rem .75rem;
        border: none;
        border-radius: var(--bdr_outer);
        background: rgb(var(--color_acc1));
        font-family: var(--ff_sans_n);
        color: rgb(var(--color_light));
        font-size: var(--fnt_12);
        font-weight: bold;
    }
}

input[type="color"] {
    @extend %interface_box_elmt;
    padding: .1rem .2rem;
    width: 2.4rem;
    height: 1.6rem;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 2rem;

    &::-webkit-slider-runnable-track {
        width: 100%;
        height: .3rem;
        border-radius: .15rem;
        background: rgb(var(--color_light));
        box-shadow: var(--shd_major);
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        margin-top: -.15rem;
        width: .7rem;
        height: .7rem;
        border-radius: .35rem;
        background: rgb(var(--color_text));
        box-shadow: var(--shd_major);
    }
}

input[type="checkbox"] {
    display: none;

    & + label {
        margin-right: .25rem;
        padding-top: .1rem;
        padding-left: 1.1rem;
        background: url('../images/icons/chkbox_un.png') no-repeat center left;
        font-family: var(--ff_sans_p);
        font-size: var(--fnt_12);
        transition: .2s;
        cursor: pointer;
    }

    &:checked + label {
        background: url('../images/icons/chkbox_chk.png') no-repeat center left;
    }
}

input[type="radio"] {
    display: none;

    & + label {
        margin-right: .25rem;
        padding-top: .1rem;
        padding-left: 1.1rem;
        background: url('../images/icons/radio_un.png') no-repeat center left;
        font-family: var(--ff_sans_p);
        font-size: var(--fnt_12);
        transition: .2s;
        cursor: pointer;
    }

    &:checked + label {
        background: url('../images/icons/radio_chk.png') no-repeat center left;
    }
}

label {
    vertical-align: middle;
}

fieldset {
    position: relative;
    margin-bottom: 2rem;
    padding: .25rem;
    border: var(--border);
}

fieldset > legend {
    position: absolute;
    top: calc(100% - .15rem);
    right: .25rem;
    padding: .25rem;
    border-radius: var(--bdr_outer);
    background: rgb(var(--color_dark));
    color: rgb(var(--color_light));
}

/* ---------- Form Elements End ---------- */
/* ---------- Modal, Pop-Up, Message Start ---------- */



/* ---------- Modal, Pop-Up, Message End ---------- */
/* ---------- Basic Page Elements Start ---------- */

header#headBase {
    top: 0;
    left: 0;
    right: 0;
    // height: 4rem;
    background: transparent;
    z-index: 10000;

    &.head_index {
        position: fixed;
    }

    &.head_sub {
        position: static;
    }

    &.head_detail {
        position: absolute;
    }

    &.scrolled {
        background: rgb(var(--color_light));
        outline: var(--border);
    }
}

nav#navBase {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: center;
    gap: 1.5rem;
    height: 100%;
    font-family: var(--ff_sans_p);
    font-size: .7rem;
    transition: .3s;

    > * {
        margin: auto 0;
    }

    &.nav_index {
        color: rgb(var(--color_light));

        h1#mainLogo {
            color: rgb(var(--color_light));
        }

        p.user_name span {
            color: rgb(var(--color_light));
        }
    }
}

ul#navbarMain {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1rem;

    a {
        position: relative;

        &::before {
            display: block;
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: .4rem;
            border-radius: .1rem;
            background: rgb(var(--color_acc1));
            transition: .3s;
            z-index: -1;
            content: '';
        }

        &:hover::before {
            left: -.15rem;
            width: calc(100% + .3rem);
        }
    }
}

div#layerAccount {
    display: flex;
    position: relative;
    align-items: center;
    gap: .5rem;
    margin-left: auto;
    cursor: pointer;

    > .user_name span {
        &::before {
            display: inline-block;
            margin-right: .25rem;
            padding: .2rem .3rem .1rem .3rem;
            border: .05rem solid rgba(var(--color_dark), .25);
            border-radius: var(--bdr_outer);
            color: rgb(var(--color_light));
        }

        /* 회원등급 관련 부분 - !중요! */

        &:is([data-grade="grade_newbie"])::before {
            background: rgb(var(--color_acc2));
            color: rgb(var(--color_tone2));
            content: 'L1';
        }

        &:is([data-grade="grade_normal"])::before {
            background: rgb(var(--color_tag1));
            content: 'L2';
        }

        &:is([data-grade="grade_regular"])::before {
            background: rgb(var(--color_tag2));
            color: rgb(var(--color_footer));
            content: 'L3';
        }

        &:is([data-grade="grade_family"])::before {
            background: rgb(var(--color_tag3));
            content: 'L4';
        }

        &:is([data-grade="grade_vip"])::before {
            background: rgb(var(--color_text));
            color: rgb(var(--color_tag2));
            content: 'VIP';
        }

        &:is([data-grade="grade_vvip"])::before {
            border-color: goldenrod;
            background: linear-gradient(to top, rgb(255, 217, 0) 0%, rgb(255, 187, 0) 100%);
            font-family: 'Berkshire Swash', cursive;
            color: rgb(var(--color_light));
            text-shadow: 0 0 .1rem rgb(var(--color_point1));
            content: 'W';
        }

        /* 회원등급 관련 부분 - !중요! */
    }

    ul#accountPop {
        display: none;
        position: absolute;
        top: calc(100% - .25rem);
        right: 0;
        width: 8rem;
        padding: .1rem;
        border-radius: var(--bdr_outer);
        background: rgb(var(--color_light));
        box-shadow: 0 .25rem .5rem -.25rem rgba(var(--color_dark), .25);
        font-family: var(--ff_sans_p);
        color: rgb(var(--color_text));
        font-size: var(--fnt_12);
        z-index: 900;

        &::before {
            display: block;
            position: absolute;
            bottom: 100%;
            left: calc(50% - .25rem);
            width: .5rem;
            height: .5rem;
            border: .25rem solid transparent;
            border-bottom: .25rem solid rgb(var(--color_light));
            content: '';
        }

        &.on {
            display: block;
        }

        > li {
            &:hover {
                border-radius: var(--bdr_inner);
                background: rgb(var(--color_text));
                color: rgb(var(--color_light));
            }

            > a {
                display: block;
                padding: .35rem 1.5rem .2rem;
            }
        }
    }
}

.user_name {
    cursor: pointer;

    > img {
        display: inline-block;
        width: 1rem;
        height: 1rem;
        border: var(--border);
        border-radius: 50%;
        vertical-align: middle;
    }

    > span {
        font-family: var(--ff_sans_p);
        color: #707070;
        font-size: var(--fnt_12);
        font-weight: bold;

        &::after {
            font-weight: normal;
            content: ' 님';
        }
    }
} /* 유저 네임태그 */

.user_tag {
    display: flex;
    align-items: center;
    column-gap: .5rem;

    > img {
        width: 3rem;
        height: 3rem;
        border: var(--border);
        border-radius: 50%;
        vertical-align: middle;
    }

    > dl {
        > .host_name {
            font-family: var(--ff_sans_p);
            color: #707070;
            font-size: var(--fnt_16);
            font-weight: bold;

            &::after {
                font-weight: normal;
                content: ' 님';
            }
        }

        > .host_cert {
            margin-top: .25rem;

            > span {
                display: inline-block;
                padding: .15rem .5rem .25rem;
                border: .05rem solid rgba(var(--color_dark), .1);
                border-radius: var(--bdr_outer);
                background: rgb(var(--color_acc1));
                color: rgb(var(--color_light));
                font-size: var(--fnt_12);

                &.verified {
                    background: rgb(var(--color_acc2));
                }

                &.sommelier {
                    background: rgb(var(--color_tag1));
                }
            }
        }
    }
} /* 유저 네임태그 (큰 사이즈) */

button.btn_account {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 2.4rem;
    height: 2.4rem;
    box-sizing: padding-box;
    border: .1rem solid rgb(var(--color_light));
    border-radius: 50%;
    color: rgb(var(--color_light));
    cursor: pointer;
    overflow: hidden;

    img.profile_pict {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &:hover {
        filter: brightness(1.1);
    }
}

header#headMobile {    
    position: fixed;
    top: -5rem;
    left: 0;
    right: 0;
    height: 3rem;
    background: rgb(var(--color_light));
    outline: var(--border);
    z-index: 10000;

    > div.int_wrap {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 0 .5rem;
        height: 100%;

        > h1#mobileLogo {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        > button.mobile_account {
            background: rgba(var(--color_dark), .75);
            box-shadow: none;
            color: rgb(var(--color_light));
            font-size: var(--fnt_10);
        }
    }
}

nav#navBurger {
    > .btn_burger {
        position: relative;
        width: 1.5rem;
        height: 1.5rem;
        box-shadow: none;

        > span {
            display: block;
            position: absolute;
            left: 10%;
            width: 80%;
            height: .1rem;
            border-radius: .05rem;
            background: rgb(var(--color_text));
            transition: .3s;

            &:nth-child(1) {
                top: 20%;
            }

            &:nth-child(2) {
                top: calc(50% - .05rem);
                transform-origin: .05rem 50%;
            }

            &:nth-child(3) {
                bottom: 20%;
            }
        }

        &.on {
            background: rgb(var(--color_tone1));

            > span {
                &:nth-child(1) {
                    top: calc(50% - .05rem);
                    transform: rotate(45deg);
                }

                &:nth-child(2) {
                    width: 0;
                }

                &:nth-child(3) {
                    top: calc(50% - .05rem);
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

div.mnav_background {
    display: none;
    position: fixed;
    top: 3rem;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(var(--color_dark), .75);
    z-index: -1;

    div#mobileNav {
        padding: 1rem;
        width: 16rem;
        height: 100%;
        background: rgb(var(--color_light));

        ul.mnav_list {
            li {
                > a {
                    display: block;
                    padding: 1rem;

                    &:hover,
                    &:focus {
                        background: rgb(var(--color_tone1));
                    }
                }

                & + li {
                    margin-top: 1rem;
                }
            }
        }
    }

    div.disappearing_area {
        position: absolute;
        top: 0;
        right: 0;
        width: calc(100% - 16rem);
        height: 100%;
    }
}

p.btn_back,
p.btn_like {
    position: absolute;
    top: 1rem;
    cursor: pointer;
    z-index: 2;

    > svg {
        fill: rgb(var(--color_light));
        filter: drop-shadow(0 0 .25rem rgba(var(--color_dark), .75));
    }
}

p.btn_back {
    left: 1rem;
}

p.btn_like {
    left: 3rem;
}

ul.information_list {
    padding-left: 1rem;

    > li {
        list-style: square;

        & + li {
            margin-top: .5rem;
        }
    }
}

section#sideBar {
    width: calc(100% - 48rem);
}

section#contentBar {
    display: flex;
    flex-flow: column nowrap;
    gap: .5rem;
    padding: .5rem;
    width: 48rem;
    border: var(--border);
    border-radius: var(--bdr_outer);
    background: rgb(var(--color_light));
    box-shadow: 0 0 .75rem rgba(var(--color_subtle), .3);
    overflow: hidden;

    > h3 {
        margin: .5rem;
        font-weight: normal;
    }
}

ul.side_mnu_left {
    position: sticky;
    top: 5rem;
    right: 0;
    left: 0;
    margin-top: 2.5rem;

    > li {
        padding: .5rem .75rem .25rem;
        border-top-left-radius: var(--bdr_outer);
        border-bottom-left-radius: var(--bdr_outer);
        font-family: var(--ff_sans_p);
        color: rgb(var(--color_text));
        font-size: .9rem;
        text-align: end;
        cursor: pointer;

        & + li {
            margin-top: .5rem;
        }

        &.side_mnu_sub {
            color: rgba(var(--color_text), .5);
            font-size: var(--fnt_14);
        }

        &.under {
            pointer-events: none;
        }

        &.checked {
            background: rgb(var(--color_text));
            color: rgb(var(--color_light));
            pointer-events: none;
        }
    }
}

.section_title {
    margin: 5rem 0 1.5rem;
    color: #707070;
    text-align: center;

    > h5 {
        color: #707070;
        font-size: var(--fnt_24);
        font-weight: normal;
    }

    > p {
        font-family: 'Berkshire Swash', cursive;
        font-size: var(--fnt_12);
        opacity: .5;
    }

    > hr {
        position: relative;
        margin-top: .75rem;
        background: #D9D7D2;
        overflow: visible;

        &::before {
            display: block;
            position: absolute;
            top: calc(50% - .15rem);
            left: calc(50% - .15rem);
            width: .3rem;
            height: .3rem;
            border: .05rem solid #D9D7D2;
            background: rgb(var(--color_bg));
            transform: rotateZ(45deg);
            content: '';
        }
    }
} /* 상세 페이지 섹션 타이틀 */

.foot_splitter {
    margin: 5rem auto;
    width: 60rem;

    &::before {
        display: block;
        width: inherit;
        height: 2rem;
        background: radial-gradient(ellipse at bottom, #F2EBEB 0%, transparent 50%);
        content: '';
    }

    > hr {
        position: relative;
        background: #D9D7D2;
        overflow: visible;

        &::before {
            display: block;
            position: absolute;
            top: calc(50% - .15rem);
            left: calc(50% - .15rem);
            width: .3rem;
            height: .3rem;
            border: .05rem solid #D9D7D2;
            background: rgb(var(--color_bg));
            transform: rotateZ(45deg);
            content: '';
        }
    }

    > h1 {
        margin: .25rem auto 0;
        font-family: var(--ff_logo);
        font-weight: normal;
        text-align: center;
        opacity: .25;
    }
    
} /* 푸터 분리선 */

footer#footBase {
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 7.5rem;
    color: rgb(var(--color_footer));

    > img {
        margin: 2rem auto;
    }
}

a.banner_partner {
    display: block;
    padding: 1rem 0;
    width: 100%;
    background: linear-gradient(90deg, rgb(var(--color_acc1)) 0%, rgb(var(--color_tone1)) 25%, rgb(var(--color_tone2)) 75%, rgb(var(--color_tag5)) 100%);
    font-family: var(--ff_sans_p);
    color: rgb(var(--color_text));
    font-size: var(--fnt_20);
    font-weight: bold;
    text-align: center;
    text-shadow: 0 .1rem 0 rgba(var(--color_text), .25);
}

ul#footLinks {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 1.25rem;
    margin-bottom: .75rem;
    padding: .75rem;
    border-bottom: var(--border);
    font-size: var(--fnt_12);

    a {
        &:link,
        :visited {
            color: inherit;
        }

        &:hover,
        :active {
            color: rgb(var(--color_acc1));
        }
    }

    > .flinks_sep {
        width: .1rem;
        height: .5rem;
        border-radius: .05rem;
        background: rgb(var(--color_subtle));
    }
}

div#footContent {
    .foot_mobile_opener {
        display: none;
        margin: .5rem 0;
        width: 100%;
        background: rgba(var(--color_dark), .75);
        box-shadow: none;
        color: rgb(var(--color_light));
    }

    > div {
        float: left;
        width: calc((100% - 1rem) / 2);

        & + div {
            margin-left: 1rem;
        }

        > * {
            font-family: var(--ff_sans_p);
            font-size: var(--fnt_12);
        }

        > ul {
            width: 100%;

            > li {
                padding: .5rem;

                > span {
                    margin-left: .5rem;
                    color: rgb(var(--color_text));
                    font-size: var(--fnt_14);
                }

                &.phonenumb {
                    color: rgb(var(--color_acc1));
                    font-size: var(--fnt_30);
                }

                &.disclaimer {
                    line-height: 1.5;
                }
            }

            > hr {
                background: #D9D7D2;
            }
        }
    }
}

/* ---------- Basic Page Elements End ---------- */
/* ---------- Repeating Items Start ---------- */

/* 메인 섹션 (인덱스) 시작 */

.main_section {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 1.5rem .5rem;
    margin-top: 5rem;
}

.sec_title {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 0 .75rem;
    width: 100%;

    > .sec_more {
        display: block;
        position: relative;
        width: fit-content;
        font-family: var(--ff_sans_p);
        color: rgb(var(--color_title));

        &::before {
            display: block;
            position: absolute;
            bottom: -.1rem;
            left: -.15rem;
            width: calc(100% + .3rem);
            height: .4rem;
            border-radius: .1rem;
            background: rgb(var(--color_bdr));
            transition: .1s;
            z-index: -1;
            content: '';
        }

        &:hover {
            color: rgb(var(--color_light));

            &::before {
                bottom: -.25rem;
                left: -.4rem;
                width: calc(100% + 1.5rem);
                height: calc(100% + .6rem);
                background: rgb(var(--color_text)) url('../images/icons/icon_doublearrow.png') no-repeat center right .25rem;
            }
        }
    }

    > .sec_subtitle {
        width: 100%;
        text-indent: .25rem;
    }
}

/* 메인 섹션 (인덱스) 끝 */
/* 모임 스크롤 모달 시작 */

aside#modalInfo {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    box-shadow: var(--shd_minor);
    outline: var(--border);
    z-index: 50;

    > .int_wrap {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        gap: .5rem;
        padding: .5rem 1rem;
        max-width: 40rem;

        > .modal_img {
            width: 3rem;
            height: 3rem;
            border: var(--border);
            border-radius: 50%;
            object-fit: cover;
        }

        > dl {
            > dt {
                > h6 {
                    &::after {
                        display: inline-block;
                        margin-left: .25rem;
                        padding: .15rem .5rem;
                        border: .05rem solid currentColor;
                        border-radius: var(--bdr_outer);
                        font-family: var(--ff_eng);
                        color: rgba(var(--color_light), .75);
                        font-size: var(--fnt_12);
                        font-weight: bold;
                        text-shadow: .05rem .05rem 0 rgba(var(--color_dark), .3);
                        vertical-align: top;
                        transition: .3s;
                        z-index: 2;
                        content: '';
                    }
                
                    &:is([data-category="byob"]) {
                        &::after {
                            border-color: #008841;
                            background: rgb(var(--color_acc2));
                            content: 'BYOB';
                        }
                    }
                
                    &:is([data-category="list"]) {
                        &::after {
                            border-color: #dc801f;
                            background: rgb(var(--color_acc1));
                            content: 'LIST';
                        }
                    }
                }
            }

            > dd {
                margin-top: .25rem;
                font-size: var(--fnt_12);
            }
        }

        > .modal_btn {
            margin-left: auto;
            padding: .5rem 1rem;
            background: rgb(var(--color_acc1));
            box-shadow: none;
            color: rgb(var(--color_light));
        }
    }
}

/* 모임 스크롤 모달 끝 */
/* 모임 카드 시작 */

.card_item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    position: relative;
    width: calc(58rem / 3);
    // height: 20.5rem;
    border: var(--border);
    background: rgb(var(--color_light));

    &:is([data-category="byob"]) {
        > .card_img_container::before {
            border-color: #008841;
            background: rgb(var(--color_acc2));
            content: 'BYOB';
        }
    }

    &:is([data-category="list"]) {
        > .card_img_container::before {
            border-color: #dc801f;
            background: rgb(var(--color_acc1));
            content: 'LIST';
        }
    }

    > p.card_timeleft {
        position: absolute;
        top: .5rem;
        left: .5rem;
        padding: .25rem .4rem .15rem 1.2rem;
        height: 1rem;
        border-radius: .5rem;
        background: rgb(var(--color_point1)) url('../images/icons/icon_clock.png') no-repeat .1rem;
        box-shadow: 0 0 .75rem rgba(var(--color_dark), 1);
        font-family: var(--ff_sans_p);
        color: rgb(var(--color_light));
        font-size: var(--fnt_12);
        z-index: 2;
    }

    > .card_img_container {
        position: relative;
        width: 100%;
        height: 10rem;
        border-bottom: var(--border);
        cursor: pointer;
        overflow: hidden;

        &::before {
            display: block;
            position: absolute;
            bottom: .25rem;
            right: .25rem;
            padding: .15rem .5rem;
            border: .05rem solid currentColor;
            border-radius: var(--bdr_outer);
            font-family: var(--ff_eng);
            color: rgba(var(--color_light), .75);
            font-size: var(--fnt_12);
            font-weight: bold;
            text-shadow: .05rem .05rem 0 rgba(var(--color_dark), .3);
            z-index: 2;
            content: '';
        }

        > .card_img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    > .card_content {
        padding: 0 .5rem;
    }

    .card_desc {
        position: relative;
        padding: 1rem .5rem;

        > .card_title {
            max-width: 15.5rem;

            h5 {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                height: 2rem;
                -webkit-line-clamp: 2;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }

        > .card_subtitle {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            margin-top: .75rem;
            max-width: 15.5rem;
            height: 2rem;
            font-size: var(--fnt_14);
            line-height: 1.4;
            -webkit-line-clamp: 2;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        > .user_name {
            position: absolute;
            bottom: .75rem;
            font-family: var(--ff_sans_p);
            font-size: var(--fnt_12);
        }

        > .card_like {
            position: absolute;
            top: 1rem;
            right: .5rem;
            font-size: var(--fnt_12);
            font-weight: bold;
        }
    }

    .card_spec {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        height: 2rem;
        border-top: var(--border);
        font-size: var(--fnt_12);
        transition: .3s;

        > p {
            padding: 0 .5rem;

            &.card_location_small {
                > svg {
                    fill: rgb(var(--color_text));
                    vertical-align: top;
                }
            }
        }
    }
}

/* 모임 카드 끝 */
/* 작은 위치 정보 시작 */

.icon_gps {
    display: inline-block !important;
    vertical-align: top;
}

/* 작은 위치 정보 끝 */
/* 물음표 시작 */

.icon_help {
    display: inline-block;
    width: .7rem;
    height: .7rem;
    background: url('../images/icons/icon_help.png') no-repeat center;
    vertical-align: bottom;
    cursor: help;

    & + span {
        font-family: var(--ff_sans_p);
        color: rgba(var(--color_text), .75);
        font-size: var(--fnt_12);
        text-shadow: 0 .1rem 0 rgb(var(--color_subtle));
        cursor: help;
    }
}

/* 물음표 끝 */
/* 별점 시작 */

.star_point {
    position: relative;
    width: calc(.75rem * 5);

    > .star_point_blacker {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        background: rgb(var(--color_dark));
        mix-blend-mode: color;
    }

    &::before {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 100%;
        padding: .1rem .25rem;
        width: fit-content;
        font-family: var(--ff_eng);
        color: rgb(var(--color_acc2));
        font-size: var(--fnt_12);
        font-weight: bold;
        content: attr(data-point-total)'';
    }

    &::after {
        display: block;
        clear: both;
        content: '';
    }

    > span {
        display: block;
        float: left;
        width: .75rem;
        height: .75rem;
        background: url('../images/icons/review_star.png') no-repeat;
    }
}

/* 별점 끝 */
/* 좋아요 시작 */

.chk_like {
    position: relative;
    font-size: var(--fnt_12);
    font-weight: bold;
    cursor: pointer;

    > .like_num {
        display: block;
        padding-left: .85rem;
        background: url('../images/icons/icon_heart.png') no-repeat top .25rem left;
        line-height: 1rem;
        transition: .2s;
    }

    > .like_confetti {
        display: block;
        position: absolute;
        width: .2rem;
        height: .2rem;
        border-radius: 50%;
        background: rgba(var(--color_point1));
        opacity: 0;
        transition: .5s;

        &:nth-child(2) {
            bottom: 0;
            left: .25rem;
        }

        &:nth-child(3) {
            bottom: 0;
            left: .25;
        }

        &:nth-child(4) {
            bottom: 0;
            left: .25rem;
        }

        &:nth-child(5) {
            bottom: 0;
            left: .25rem;
        }

        &:nth-child(6) {
            bottom: 0;
            left: .25rem;
        }
    }

    &.checked > .like_num {
        background: url('../images/icons/icon_heart_f.png') no-repeat top .25rem left;
    }

    &.checked > .like_confetti {
        animation: confetti_bloom .5s 1 forwards;

        &:nth-child(2) {
            bottom: 0;
            left: -.25rem;
            animation-delay: .2s;
        }

        &:nth-child(3) {
            bottom: 0;
            left: 0;
        }

        &:nth-child(4) {
            bottom: 0;
            left: .25rem;
            animation-delay: .1s;
        }

        &:nth-child(5) {
            bottom: 0;
            left: .5rem;
            animation-delay: .4s;
        }

        &:nth-child(6) {
            bottom: 0;
            left: .75rem;
            animation-delay: .3s;
        }
    }
}

@keyframes confetti_bloom {
    10% {
        bottom: -.25rem;
        opacity: 1;
    }

    95% {
        bottom: 1rem;
        opacity: .1;
    }

    100% {
        bottom: 1.5rem;
        opacity: 0;
    }
}

/* 좋아요 끝 */
/* 내부 폼 시작 */

.frm_common {
    padding: .5rem;
    width: 100%;
    border: var(--border);
    border-radius: var(--bdr_outer);
    background: rgb(var(--color_bg));
}

.text_title {
    * {
        float: left;
    }

    > h6 {
        font-weight: bold;
    }

    > p {
        margin-top: .25rem;
        font-size: var(--fnt_12);
        text-indent: .5rem;
    }
}

.frm_items {
    position: relative;
    margin: .5rem 0 2rem;
}

/* 내부 폼 끝 */
/* 와인 아이콘 시작 */

.wine_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: relative;
    width: 3rem;
    height: 3rem;
    border: .15rem solid rgb(var(--color_bdr));
    border-radius: 50%;
    background: rgba(var(--color_dark), .1);
    font-family: var(--ff_sans_p);
    font-size: var(--fnt_12);
    transition: background .5s;
    cursor: pointer;
    overflow: hidden;

    &::before {
        display: block;
        padding-top: .25rem;
        text-align: center;
        z-index: 2;
    }

    &::after {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: radial-gradient(circle at center, transparent 0%, rgba(var(--color_dark), 1) 100%);
        mix-blend-mode: overlay;
        z-index: 3;
        content: '';
    }

    > p {
        z-index: 2;
    }

    > .wave_front,
    .wave_back {
        position: absolute;
        width: 6rem;
        height: 6rem;
        border-radius: 2rem;
        transition: 2s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    > .wave_front {
        transform: translateY(2.5rem) rotate(-70deg);
        z-index: 1;
    }

    > .wave_back {
        transform: translateY(2.5rem) rotate(60deg);
        z-index: 0;
    }

    &:hover {
        background: rgba(var(--color_dark), .3);

        > .wave_front {
            transform: translateY(2.5rem) rotate(60deg);
        }

        > .wave_back {
            transform: translateY(2.5rem) rotate(-70deg);
        }
    }

    &.redwine {
        &::before {
            color: rgb(240, 206, 206);
            content: '레드';
        }

        > .wave_front {
            background: rgba(175, 44, 69, 1);
        }

        > .wave_back {
            background: rgba(117, 34, 54, 1);
        }
    }

    &.whitewine {
        &::before {
            color: rgb(var(--color_acc2));
            content: '화이트';
        }

        > .wave_front {
            background: rgb(250, 242, 215);
        }

        > .wave_back {
            background: rgb(233, 213, 159);
        }
    }

    &.sparkling {
        &::before {
            color: rgb(var(--color_acc1));
            content: '스파클링';
        }

        > .wave_front {
            background: rgba(255, 241, 168, 1);
        }

        > .wave_back {
            background: rgba(255, 207, 74, 1);
        }
    }

    &.others {
        &::before {
            color: rgb(246, 115, 137);
            content: '기타';
        }

        > .wave_front {
            background: rgba(255, 190, 201, 1);
        }

        > .wave_back {
            background: rgba(246, 115, 137, 1);
        }
    }

    &.choose_item {
        &::before {
            color: rgb(71, 25, 102);
            content: '종류 선택';
        }

        > .wave_front {
            background: rgb(161, 231, 196);
        }

        > .wave_back {
            background: rgb(126, 185, 149);
        }
    }

    &.add_item {
        &::before {
            color: rgb(var(--color_light));
            text-shadow: 0 0 .25rem rgba(var(--color_dark), .75);
            content: '와인 추가';
        }

        > span:first-child,
        > span:last-child {
            display: block;
            position: absolute;
            border-radius: var(--bdr_inner);
            background: rgb(190, 190, 190);
        }

        > span:first-child {
            width: .3rem;
            height: 1.2rem;
        }

        > span:last-child {
            width: 1.2rem;
            height: .3rem;
        }
    }
}

.wine_selector {
    position: relative;
}

.wine_selector_list {
    display: none;
    position: absolute;
    top: -.5rem;
    left: -.5rem;
    padding: .5rem;
    border-radius: 2rem;
    background: rgba(var(--color_dark), .75);
    box-shadow: 0 .25rem .5rem rgba(var(--color_dark), .5);
    transition: .5s;
    opacity: 0;
    z-index: 500;

    > .wine_icon {
        position: absolute;
        left: 0;
    }

    &.open {
        display: flex;
        align-items: center;
        gap: .5rem;
        opacity: 1;

        > .wine_icon {
            position: relative;
        }
    }
}

/* 와인 아이콘 끝 */
/* 커스텀 셀렉터 시작 */

.custom_selector {
    position: relative;

    .location_pict,
    .course_pict {
        width: 2.5rem;
        height: 2.5rem;
        border: var(--border);
        border-radius: var(--bdr_outer);
        object-fit: cover;
    }

    .location_name,
    .course_name {
        font-family: var(--ff_sans_p);
    }

    .location_info,
    .course_info {
        margin-top: .25rem;
        font-size: var(--fnt_12);
    }

    .location_course,
    .course_price {
        margin-left: auto;
        font-family: var(--ff_sans_p);
        font-size: var(--fnt_12);
    }
    
    &_selected,
    &_items {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: .5rem;
        cursor: pointer;
    }

    &_selected {
        padding: .5rem;
        border-radius: var(--bdr_outer);
        background: rgb(var(--color_text));
        color: rgb(var(--color_light));
    }

    &_items {
        padding: .5rem;

        &:hover {
            background: rgb(var(--color_tone1));
        }
    }

    &_list {
        max-height: 12rem;
        overflow-y: auto;

        &::-webkit-scrollbar {
            background: rgb(var(--color_light));
        }

        > li {
            background: rgb(var(--color_light));

            & + li {
                border-top: var(--border);
            }
        }
    }

    &_form {
        display: none;
        position: absolute;
        top: calc(100% + .25rem);
        left: 0;
        right: 0;
        border: var(--border);
        border-radius: var(--bdr_outer);
        box-shadow: var(--shd_major);
        overflow: hidden;
        z-index: 500;
    }

    &_search {
        padding: .25rem;
        border-bottom: var(--border);
        background: rgb(var(--color_bg));
    }
}

.item_id {
    display: none;
}

/* 커스텀 셀렉터 끝 */
/* 리뷰 말풍선과 컨테이너 시작 */

#reviewComment,
#reviewArticle {
    position: relative;
    border: var(--border);
    border-radius: var(--bdr_outer);
    background: rgb(var(--color_bg));
}

#reviewArticle {
    display: none;
}

.comment_container {
    padding: .75rem;

    .comment_bubble {
        position: relative;

        & + .comment_bubble {
            margin-top: 1rem;
        }

        .comment_user {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            margin-bottom: .25rem;
        }

        .comment_data {
            margin-left: .5rem;
            font-size: var(--fnt_12);
        }

        .bubble {
            position: relative;
            margin-left: 1rem;
            padding: .4rem .5rem .3rem;
            width: fit-content;
            border: var(--border);
            border-radius: var(--bdr_outer);
            background: rgb(var(--color_light));
            box-shadow: 0 .25rem .75rem rgba(var(--color_subtle), .3);
            font-family: var(--ff_sans_p);
            color: rgb(var(--color_title));
            font-size: var(--fnt_12);

            &_point {
                display: block;
                position: absolute;
                top: .4rem;
                right: 100%;
                width: .5rem;
                height: .5rem;
                background: rgb(var(--color_bdr));
                clip-path: polygon(0% 50%, 100% 0%, 100% 100%);

                &::before {
                    display: block;
                    position: absolute;
                    left: .1rem;
                    width: 100%;
                    height: 100%;
                    background: rgb(var(--color_light));
                    clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
                    content: '';
                }
            }

            &_text {
                line-height: 1.6;
            }
        }
    }
}

.article_container {
    padding: .25rem;

    > li {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        gap: .25rem;
        padding: .25rem;
        border-radius: var(--bdr_outer);

        & + li {
            border-top: var(--border);
        }

        > img {
            @extend %images_with_border;
            width: 2.5rem;
            height: 2.5rem;
        }

        .article_title {
            font-family: var(--ff_sans_p);
        }

        .article_date {
            font-size: var(--fnt_12);
        }

        > .user_name {
            margin: 0 .25rem 0 auto;
        }
    }
}

.article_more {
    margin-top: .5rem;
    padding: .5rem;
    border-top: var(--border);
    text-align: end;

    button {
        background: rgb(var(--color_acc2));
        color: rgb(var(--color_light));
    }
}

/* 말풍선과 컨테이너 끝 */
/* 리뷰 페이징 시작 */

.review_paging {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    > li {
        padding: .25rem .5rem;
        border-radius: var(--bdr_outer);

        &.this_page {
            background: rgb(var(--color_text));
            color: rgb(var(--color_light));
            pointer-events: none;
        }

        &:is(.paging_arrow).disabled {
            color: rgb(var(--color_subtle));
            pointer-events: none;
        }

        &:not(.paging_arrow) {
            font-family: var(--ff_eng);
            font-weight: bold;
            cursor: pointer;
        }
    }
}

/* 리뷰 페이징 끝 */
/* 모임 장소 시작 */

.gathering_location {
    display: flex;
    flex-flow: row wrap;
    border: var(--border);
    border-radius: var(--bdr_outer);
    background: rgb(var(--color_bg));

    > img {
        width: 50%;
        height: auto;
        object-fit: cover;
    }

    > .info_container {
        padding: .5rem;
        width: 50%;
        height: 100%;
        border-left: var(--border);

        > .location_info {
            padding: .5rem .5rem 0;
            
            .location_mini {
                margin: .5rem 0 1rem;
                font-size: var(--fnt_12);
            }
        }

        > .course_info {
            display: flex;
            flex-flow: column nowrap;
            gap: .5rem;
            font-size: var(--fnt_12);

            > li {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                gap: .25rem;
            }

            img {
                @extend %images_with_border;
                width: 2.5rem;
                height: 2.5rem;
            }

            .course_name span {
                font-family: var(--ff_sans_p);
            }
        }
    }
}

/* 모임 장소 끝 */
/* 호스트 정보 */

.host_info {
    display: flex;
    flex-flow: row wrap;
    column-gap: .5rem;
    position: relative;
    padding: .5rem;
    width: 100%;
    border: var(--border);
    border-radius: var(--bdr_outer);
    background: rgb(var(--color_bg));
    font-size: var(--fnt_12);

    .host_pict {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
    }

    .host_name {
        margin: .25rem 0 .5rem;
        color: rgb(var(--color_title));
        font-size: var(--fnt_20);
        font-weight: bold;

        &::before {
            display: block;
            font-size: var(--fnt_12);
            font-weight: normal;
            content: '모임 주최자';
        }
    }

    .host_desc {
        width: calc(100% - 5.5rem);
    }

    .host_intro {
        line-height: 1.4;
    }

    .host_spec {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        gap: .5rem 1rem;
        margin-top: .5rem;
        padding-top: .5rem;
        width: 100%;
        border-top: var(--border);

        > span {
            &::before {
                display: inline-block;
                margin-bottom: .15rem;
                margin-right: .25rem;
                width: 1rem;
                height: 1rem;
                vertical-align: middle;
                content: '';
            }

            &:nth-child(1)::before {
                background: url('../../common/images/icons/icon_gathering.png') no-repeat center;
            }

            &:nth-child(2)::before {
                background: url('../../common/images/icons/icon_comment.png') no-repeat center;
            }
        }
    }

    button.user_profile {
        margin-left: auto;
        padding: .3rem .5rem;
        background: rgb(var(--color_acc2));
        box-shadow: none;
        color: rgb(var(--color_light));
    }
}

/* 호스트 정보 끝 */
/* 심플 팝업 메시지 시작 */

[data-message] {
    position: relative;

    &::before {
        display: block;
        position: absolute;
        top: calc(100% + .5rem);
        left: 50%;
        padding: .5rem;
        width: max-content;
        border-radius: var(--bdr_outer);
        background: rgba(var(--color_dark), .75);
        box-shadow: 0 .15rem .25rem rgba(var(--color_dark), .3);
        font-family: var(--ff_sans_p);
        font-size: var(--fnt_12);
        color: rgb(var(--color_light));
        transform: translateX(-50%);
        transition: .15s;
        opacity: 0;
        pointer-events: none;
        content: attr(data-message);
    }

    &::after {
        display: block;
        position: absolute;
        bottom: -.5rem;
        left: 50%;
        width: .5rem;
        height: .5rem;
        border-top: .25rem solid transparent;
        border-bottom: .25rem solid rgba(var(--color_dark), .75);
        border-left: .25rem solid transparent;
        border-right: .25rem solid transparent;
        transform: translateX(-50%);
        transition: .15s;
        opacity: 0;
        pointer-events: none;
        content: '';
    }

    @media (hover: hover) {
        &:hover {
            &::before,
            &::after {
                opacity: 1;
            }
        }
    }
}

/* 심플 팝업 메시지 끝 */

/* ---------- Repeating Items end ---------- */

.note-modal.open {
    justify-content: center;
    align-items: center;
} /* Summernote 모달 */

/* ---------- Global Media Query Start ---------- */

@media only screen and (hover: none) and (pointer: coarse) {

} /* 모바일 디바이스 미디어 쿼리 */

/* ----------Global Media Query End ---------- */