/* ---------- Interface CSS ---------- */

::selection { /* 선택 영역 색상 */
    background: rgba(var(--color_tone1), 1);
    color: currentColor;
}

a:link,
a:visited {
    text-decoration: none;
}

/* ---------- Scrollbar Start ---------- */

::-webkit-scrollbar {
    width: .6rem;
    background: rgb(var(--color_subtle));
}

::-webkit-scrollbar-thumb {
    border: .05rem solid transparent;
    border-radius: .2rem;
    background: rgb(var(--color_text));
    background-clip: padding-box;
    -webkit-box-shadow: none;
            box-shadow: none;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
            box-shadow: none;
}

/* ---------- Scrollbar End ---------- */
/* ---------- Form Elements Start ---------- */

%interface_box_elmt {
    position: relative;
    padding: .45rem .5rem .4rem .5rem;
    border-radius: var(--bdr_outer);
    background: rgba(var(--color_light), 1);
    box-shadow: var(--shd_major);
    outline: none;
    color: rgb(var(--color_text));
    font-family: var(--ff_sans_p);
    font-size: .6rem;

    &::placeholder {
        color: rgb(var(--color_bdr));
    }
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="search"],
input[type="number"],
input[list],
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="image"],
textarea,
select,
output,
button {
    @extend %interface_box_elmt;

    &:focus {
        box-shadow:
            var(--shd_major),
            0 0 0 .1rem rgba(var(--color_acc1), .5);
    }
}

select {
    padding: .35rem .25rem .3rem .25rem;
}

input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"] {
    @extend %interface_box_elmt;
    padding: .2rem .25rem;
}

input[type="file"] {
    @extend %interface_box_elmt;
    display: block;
    padding: .1rem;
}

input[type="color"] {
    @extend %interface_box_elmt;
    padding: .1rem .2rem;
    width: 2.4rem;
    height: 1.6rem;
}

label {
    vertical-align: middle;
}

fieldset {
    position: relative;
    margin-bottom: 2rem;
    padding: .25rem;
    border: var(--border);
}

fieldset > legend {
    position: absolute;
    top: calc(100% - .15rem);
    right: .25rem;
    padding: .25rem;
    border-radius: var(--bdr_outer);
    background: rgb(var(--color_dark));
    color: rgb(var(--color_light));
}

/* 추가 스타일링 필요한 요소들

    input-range, input-checkbox, input-radio, input-number,
    input-select, input-file, input-search, meter, progress

*/

/* ---------- Form Elements End ---------- */
/* ---------- Modal, Pop-Up, Message Start ---------- */

aside#popFollow {
    position: fixed;
    right: .5rem;
    bottom: .5rem;
    transition: .2s ease-out;
}

a.goto_top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: .15rem;
    background: rgba(var(--color_dark), .75);
    color: rgb(var(--color_light));
    font-size: 1rem;
}

/* ---------- Modal, Pop-Up, Message End ---------- */
/* ---------- Basic Page Elements Start ---------- */

header#headBase {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 4rem;
    background: transparent;
    z-index: 10000;

    &.scrolled {
        background: rgb(var(--color_light));
        outline: var(--border);
    }
}

nav#navBase {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: center;
    gap: 1.5rem;
    height: 100%;
    font-family: var(--ff_sans_p);
    font-size: .7rem;
    transition: .3s;

    > * {
        margin: auto 0;
    }

    &.nav_index {
        color: rgb(var(--color_light));

        h1#mainLogo {
            color: rgb(var(--color_light));
        }

        p.user_name span {
            color: rgb(var(--color_light));
        }
    }
}

ul#navbarMain {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1rem;

    a {
        position: relative;

        &::before {
            display: block;
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: .4rem;
            border-radius: .1rem;
            background: rgb(var(--color_acc1));
            transition: .3s;
            z-index: -1;
            content: '';
        }

        &:hover::before {
            left: -.15rem;
            width: calc(100% + .3rem);
        }
    }
}

div#layerAccount {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-left: auto;

    > p.user_name {
        padding-left: 1.5rem;

        span {
            color: rgb(var(--color_title));
        }
    }
}

button.btn_account {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 2.4rem;
    height: 2.4rem;
    box-sizing: padding-box;
    border: .1rem solid rgb(var(--color_light));
    border-radius: 50%;
    color: rgb(var(--color_light));
    cursor: pointer;
    overflow: hidden;

    img.profile_pict {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &:hover {
        filter: brightness(1.1);
    }
}

footer#footBase {
    bottom: 0;
    left: 0;
    right: 0;
    color: rgb(var(--color_footer));
}

a.banner_partner {
    display: block;
    padding: 1rem 0;
    width: 100%;
    background: linear-gradient(to right, rgb(var(--color_tone1)) 0%, rgb(var(--color_tone2)) 100%);
    color: rgb(var(--color_text));
    font-family: var(--ff_sans_p);
    font-size: var(--fnt_20);
    text-align: center;
    text-shadow: 0 .1rem 0 rgba(var(--color_text), .25);
}

ul#footLinks {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1.25rem;
    padding: .75rem;
    border-bottom: .05rem solid rgb(var(--color_subtle));
    font-size: var(--fnt_12);
    font-weight: bold;

    a {
        &:link,
        :visited {
            color: inherit;
        }

        &:hover,
        :active {
            color: rgb(var(--color_acc1));
        }
    }

    > .flinks_sep {
        width: .1rem;
        height: .5rem;
        border-radius: .05rem;
        background: rgb(var(--color_subtle));
    }

    > li:last-child {
        margin-left: auto;
        color: rgb(var(--color_acc1));

        > a {
            margin-left: .5rem;

            &:link,
            :visited {
                color: rgb(var(--color_text));
                text-decoration: underline solid;
            }

            &:hover,
            :active {
                color: rgb(var(--color_acc2));
            }
        }
    }
}

div#footContent {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 1rem auto 2rem;
    padding: 0 .5rem;

    h6 {
        margin-bottom: 1rem;
    }
}

.footer_company {
    max-width: 40rem;

    &_info {
        font-size: var(--fnt_12);

        &::after {
            display: block;
            clear: both;
            content: '';
        }

        li {
            float: left;
            margin-right: 1.5rem;

            &.disclaimer {
                margin-top: 1rem;
                line-height: 1.4;
            }

            p,
            address {
                color: rgb(var(--color_text));
                font-size: var(--fnt_14);
                font-weight: bold;
            }
        }
    }
}

.footer_callcenter {
    max-width: 10rem;
    font-size: var(--fnt_12);
    font-weight: bold;

    &_text {
        text-align: center;

        .icon_cs {
            display: inline-block;
            vertical-align: top;
        
            & + span {
                margin-left: .25rem;
                color: rgb(var(--color_acc1));
                font-size: var(--fnt_24);
                font-weight: bold;
            }
        }

        p {
            line-height: 1.6;

            &:first-of-type {
                margin-top: .5rem;
            }
        }
    }
}

#copyRights {
    padding: .5rem 0;
    font-size: var(--fnt_12);
    text-align: center;
}

/* ---------- Basic Page Elements End ---------- */
/* ---------- Repeating Items Start ---------- */

.main_section {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 1.5rem .5rem;
    margin-top: 2.5rem;

    > .sec_title {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        gap: 0 .75rem;
        width: 100%;

        > .sec_more {
            display: block;
            position: relative;
            width: fit-content;
            font-family: var(--ff_sans_p);
            color: rgb(var(--color_title));

            &::before {
                display: block;
                position: absolute;
                bottom: -.1rem;
                left: -.15rem;
                width: calc(100% + .3rem);
                height: .4rem;
                border-radius: .1rem;
                background: rgb(var(--color_bdr));
                transition: .1s;
                z-index: -1;
                content: '';
            }

            &:hover {
                color: rgb(var(--color_light));

                &::before {
                    bottom: -.25rem;
                    left: -.4rem;
                    width: calc(100% + 1.5rem);
                    height: calc(100% + .6rem);
                    background: rgb(var(--color_text)) url('../images/icons/icon_doublearrow.png') no-repeat 93%;
                }
            }
        }

        > .sec_subtitle {
            padding-left: .25rem;
            width: 100%;
        }
    }
}

.card_item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    position: relative;
    width: calc(58rem / 3);
    height: 20.5rem;
    border: var(--border);
    background: rgb(var(--color_light));

    &::before {
        display: block;
        position: absolute;
        bottom: 8.75rem;
        right: .25rem;
        padding: .15rem .5rem;
        border: .05rem solid currentColor;
        border-radius: var(--bdr_outer);
        font-family: var(--ff_eng);
        color: rgba(var(--color_light), .75);
        font-weight: bold;
        text-shadow: .05rem .05rem 0 rgba(var(--color_dark), .3);
        transition: .3s;
        z-index: 2;
        content: '';
    }

    &:is([data-category="byob"]) {
        &::before {
            border-color: #008841;
            background: rgb(var(--color_acc2));
            content: 'BYOB';
        }
    }

    &:is([data-category="list"]) {
        &::before {
            border-color: #dc801f;
            background: rgb(var(--color_acc1));
            content: 'LIST';
        }
    }

    > p.card_timeleft {
        position: absolute;
        top: 1rem;
        left: 1rem;
        padding: .25rem .4rem .15rem 1.2rem;
        height: 1rem;
        border-radius: .5rem;
        background: rgb(var(--color_point1)) url('../images/icons/icon_clock.png') no-repeat .1rem;
        box-shadow: 0 0 .75rem rgba(var(--color_dark), 1);
        font-family: var(--ff_sans_p);
        color: rgb(var(--color_light));
        font-size: var(--fnt_12);
        z-index: 2;
    }

    > .card_img {
        width: 100%;
        height: 12rem;
        border-bottom: var(--border);
        object-fit: cover;
        transition: .3s;
    }

    > .card_content {
        padding: 0 .5rem;
    }

    .card_desc {
        position: relative;
        padding: 1rem .5rem 0 .5rem;

        > .card_title {
            max-width: 15.5rem;

            h5 {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    
        > .card_subtitle {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            margin-top: .75rem;
            max-width: 15.5rem;
            font-size: var(--fnt_14);
            line-height: 1.4;
            -webkit-line-clamp: 2;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    
        > .card_like {
            position: absolute;
            top: 1rem;
            right: .5rem;
            font-size: var(--fnt_12);
            font-weight: bold;
        }
    
    }

    .card_spec {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        bottom: 0;
        left: .5rem;
        right: .5rem;
        height: 2.5rem;
        border-top: var(--border);
        transition: .3s;

        > p {
            padding: 0 .5rem;

            &.card_location_small {
                font-size: .6rem;
            }
        }
    }

    .card_location {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        position: absolute;
        bottom: .5rem;
        left: .5rem;
        right: .5rem;
        transition: .3s;
        opacity: 0;

        > .location_pict {
            width: 2.5rem;
            height: 2.5rem;
            border: var(--border);
            border-radius: var(--bdr_outer);
            object-fit: cover;
        }

        > .location_desc {
            padding-left: .25rem;

            > dt {
                font-size: var(--fnt_16);
                font-weight: bold;
            }

            > dd {
                margin-top: .25rem;
                font-size: var(--fnt_12);
            }
        }

        > .item_price {
            margin-left: auto;
            font-size: var(--fnt_20);
            font-weight: bold;
        }
    }

    &:hover {
        &::before {
            bottom: 11.75rem;
        }

        .card_img {
            height: 9rem;
            filter: brightness(.5);
        }

        .card_spec {
            bottom: 3rem;
        }

        .card_location {
            opacity: 1;
        }
    }
}

.icon_gps {
    display: inline-block;
    vertical-align: top;
}

.icon_heart {
    display: inline-block;
    vertical-align: middle;
}

.profile_pict_small {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: var(--border);
    border-radius: 50%;
    vertical-align: middle;

    & + span {
        font-size: var(--fnt_14);
        font-weight: bold;
        vertical-align: middle;
    }
}

.star_point {
    position: relative;
    width: calc(.75rem * 5);

    > .star_point_blacker {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        background: rgb(var(--color_dark));
        mix-blend-mode: color;
    }

    &::before {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 100%;
        padding: .1rem .25rem;
        width: fit-content;
        font-family: var(--ff_eng);
        color: rgb(var(--color_acc2));
        font-size: var(--fnt_12);
        font-weight: bold;
        content: attr(data-point-total)'';
    }

    &::after {
        display: block;
        clear: both;
        content: '';
    }

    > span {
        display: block;
        float: left;
        width: .75rem;
        height: .75rem;
        background: url('../images/icons/review_star.png') no-repeat;
    }
}

.chk_like {
    font-size: var(--fnt_12);
    font-weight: bold;
    cursor: pointer;

    > .like_num {
        display: block;
        padding-right: .9rem;
        background: url('../images/icons/icon_heart.png') no-repeat top .25rem right;
        line-height: 1rem;
        transition: .2s;
    }

    &.checked > .like_num {
        background: url('../images/icons/icon_heart_f.png') no-repeat top .25rem right;
    }
}

/* ---------- Repeating Items end ---------- */