@charset "UTF-8";
/* ---------- Page-Specific Layout CSS (Partner (Detail)) ---------- */
/* ---------- 페이지 특정 요소 시작 ---------- */
div#wrapMain.sub {
	-moz-column-gap: 1rem;
	     column-gap: 1rem;
	margin: 0 auto;
	width: 60rem;
}

/* 임시 - 서브 페이지 래퍼 사이즈 및 내부 정렬 */
.section_title {
	margin: 5rem auto 1.5rem;
	width: 60rem;
}

div#detailSide {
	position: relative;
	width: 16rem;
	z-index: 3;
}

/* 서브 페이지 사이드 바 */
div#detailContents {
	position: relative;
	width: 42rem;
}

/* 서브 페이지 컨텐츠 */
div#detailSide_sticker {
	position: -webkit-sticky;
	position: sticky;
	top: 6rem;
	left: 0;
}
div#detailSide_sticker > .detail_hiddentitle {
	display: none;
}
div#detailSide_sticker > .detail_hiddentitle > p {
	margin-top: 0.25rem;
}
div#detailSide_sticker > .detail_hiddentitle > hr {
	margin: 1rem 0;
	background: #D9D7D2;
}
div#detailSide_sticker > .detail_slider_paging {
	width: 100%;
	height: 0.75rem;
}
div#detailSide_sticker > .detail_slider_container {
	margin: 0.25rem 0;
	width: 16rem;
	height: 16rem;
	background: rgba(var(--color_dark), 0.75);
	box-shadow: 0 0.5rem 1rem -0.5rem rgba(var(--color_dark), 0.2);
}
div#detailSide_sticker > .detail_slider_container > .detail_slider > .slider_item {
	position: relative;
}
div#detailSide_sticker > .detail_slider_container > .detail_slider > .slider_item > .slider_item_magnifier {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(var(--color_dark), 0.75);
}
div#detailSide_sticker > .detail_slider_container > .detail_slider > .slider_item > img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
div#detailSide_sticker > .detail_reputation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.75rem 1rem;
	width: 100%;
	background: rgba(var(--color_dark), 0.75);
	font-family: var(--ff_sans_p);
	color: rgb(var(--color_light));
}
div#detailSide_sticker > .detail_reputation > .count_review {
	margin-top: 0.1rem;
}
div#detailSide_sticker > .detail_controller {
	margin: 0.5rem 0;
	width: 100%;
	height: 4.5rem;
}
div#detailSide_sticker > .detail_controller > button {
	display: block;
	float: left;
	width: 5rem;
	height: inherit;
}
div#detailSide_sticker > .detail_controller > button + button {
	margin-left: 0.5rem;
}
div#detailSide_sticker > .detail_hiddenbutton {
	display: none;
}

/* 서브 페이지 스티키 메뉴 */
.price_reduce_info > ul > li {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0 0.5rem;
	border-bottom: 0.05rem solid #D9D7D2;
}
.price_reduce_info > ul > li.used_point, .price_reduce_info > ul > li.used_cash, .price_reduce_info > ul > li.used_coupon {
	padding-left: 1rem;
}
.price_reduce_info > ul > li.final_price {
	border-bottom: none;
}
.price_reduce_info > ul > li > label {
	display: block;
	margin-right: auto;
	opacity: 0.5;
}
.price_reduce_info > ul > li > input {
	display: block;
	padding: 0.5rem 0;
	width: 8rem;
	border-radius: 0;
	background: transparent;
	box-shadow: none;
	font-family: var(--ff_eng);
	font-size: var(--fnt_20);
	text-align: end;
}
.price_reduce_info > ul > li > span {
	margin-left: 0.25rem;
}

/* 할인된 가격 정보 */
form#joinPayment > ul > li {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	padding: 1rem 0.5rem;
}
form#joinPayment > ul > li > p {
	margin-right: 1rem;
	width: 7rem;
	font-family: var(--ff_sans_p);
	font-weight: bold;
	text-align: end;
	opacity: 0.75;
}
form#joinPayment > ul > li > div {
	padding-left: 1rem;
	width: calc(100% - 8rem);
	border-left: var(--border);
}
form#joinPayment > ul > li > div > input {
	font-family: var(--ff_eng);
	font-size: var(--fnt_16);
}
form#joinPayment > ul > li > div > input + label {
	margin-left: 0.25rem;
	color: rgb(var(--color_footer));
	font-size: var(--fnt_12);
}
form#joinPayment > ul > li > div > .useit_all {
	background: rgb(var(--color_text));
	box-shadow: none;
}
form#joinPayment > ul > li.join_pay {
	flex-flow: column nowrap;
	justify-content: center;
	row-gap: 1rem;
	background: rgba(var(--color_light), 0.5);
	text-align: center;
}
form#joinPayment > ul > li.join_pay > .price_line > label {
	display: inline-block;
}
form#joinPayment > ul > li.join_pay > .price_line > #txtFinalPrice {
	display: inline-block;
	border-bottom: 0.1rem solid currentColor;
	border-radius: 0;
	background: transparent;
	box-shadow: none;
	text-align: center;
	font-size: var(--fnt_24);
}
form#joinPayment > ul > li.join_pay > .btn_rotate {
	display: block;
}
form#joinPayment > ul > hr {
	background: #D9D7D2;
}

/* 모임 참여 신청 폼 */
#txtBasicPrice {
	padding: 0;
	width: 3rem;
	background: transparent;
	box-shadow: none;
}

#txtPoint,
#txtCash {
	position: relative;
	width: 5rem;
}

#slctWine,
#slctCoupon {
	width: 15rem;
	font-size: var(--fnt_16);
}

.groupinfo_body {
	display: flex;
	align-items: center;
}
.groupinfo_body > img {
	margin-right: 0.5rem;
	width: 3rem;
	height: 3rem;
	border: var(--border);
	box-shadow: 0 0 0.75rem -0.25rem rgba(var(--color_dark), 0.5);
	-o-object-fit: cover;
	   object-fit: cover;
}
.groupinfo_body > dl {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.groupinfo_body > dl > dt {
	margin-bottom: 0.5rem;
	font-family: var(--ff_serif);
	font-size: var(--fnt_20);
}
.groupinfo_body > dl > dt::before {
	display: inline-block;
	padding: 0.15rem 0.5rem;
	border: 0.05rem solid currentColor;
	border-radius: 0.45rem;
	font-family: var(--ff_eng);
	font-size: var(--fnt_10);
	vertical-align: top;
	content: "";
}
.groupinfo_body > dl > dd {
	font-family: var(--ff_sans_p);
	color: rgba(var(--color_text), 0.5);
}
.groupinfo_body:is([data-group-type=LIST]) > dl > dt::before {
	color: rgb(var(--color_acc1));
	content: "LIST";
}
.groupinfo_body:is([data-group-type=BYOB]) > dl > dt::before {
	color: rgb(var(--color_acc2));
	content: "BYOB";
}

/* 참여하는 모임 */
/* 호스트 정보 */
/* 장소 및 제공되는 코스 */
.partner_info {
	display: flex;
	align-items: center;
}
.partner_info > img {
	margin-right: 0.5rem;
	width: 3rem;
	height: 3rem;
	border: var(--border);
	box-shadow: 0 0 0.75rem -0.25rem rgba(var(--color_dark), 0.5);
	-o-object-fit: cover;
	   object-fit: cover;
}
.partner_info > dl {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.partner_info > dl > dt {
	margin-bottom: 0.5rem;
	font-family: var(--ff_serif);
	font-size: var(--fnt_20);
}
.partner_info > dl > dd {
	font-family: var(--ff_sans_p);
	color: rgba(var(--color_text), 0.5);
}

.wineoffer_body > ol > li {
	font-family: var(--ff_sans_p);
}
.wineoffer_body > ol > li + li {
	margin-top: 0.5rem;
}
.wineoffer_body > ol > li::before {
	display: inline-block;
	margin-right: 0.25rem;
	padding: 0.25rem 0.5rem 0.2rem;
	border: 0.05rem solid rgba(var(--color_dark), 0.2);
	border-radius: var(--bdr_outer);
	font-size: var(--fnt_10);
	font-weight: bold;
	vertical-align: middle;
}
.wineoffer_body > ol > li.wine_red::before {
	background: crimson;
	color: floralwhite;
	content: "레드";
}
.wineoffer_body > ol > li.wine_white::before {
	background: white;
	color: darkslateblue;
	content: "화이트";
}
.wineoffer_body > ol > li.wine_sparkling::before {
	background: bisque;
	color: sienna;
	content: "스파클링";
}
.wineoffer_body > ol > li.wine_other::before {
	background: pink;
	color: indigo;
	content: "기타";
}
.wineoffer_body > ol > li > .offer_wine_vintage {
	color: rgb(var(--color_footer));
}

/* LIST - 제공되는 와인 */
table.refund_rule {
	margin: 0 auto;
	width: 100%;
	border-top: var(--border);
	border-bottom: var(--border);
}
table.refund_rule > caption {
	padding: 1rem;
	font-family: var(--ff_sans_p);
	color: rgb(var(--color_footer));
}
table.refund_rule > caption > svg {
	fill: rgb(var(--color_point1));
	vertical-align: bottom;
}
table.refund_rule tr + tr {
	border-top: var(--border);
}
table.refund_rule th,
table.refund_rule td {
	padding: 0.75rem;
}
table.refund_rule th {
	width: 10rem;
	background: rgba(var(--color_dark), 0.75);
	color: rgb(var(--color_light));
	font-weight: normal;
	text-align: center;
}
table.refund_rule td {
	background: rgb(var(--color_bg));
	color: rgb(var(--color_footer));
}
table.refund_rule td strong {
	color: rgb(var(--color_point1));
}

/* 환불 규정 */
/* ---------- 페이지 특정 요소 종료 ---------- */
/* ---------- 페이지 특정 미디어 쿼리 시작 ---------- */
@media screen and (any-hover: none) and (pointer: coarse) {
	div#wrapMain.sub {
		width: 100%;
	}

	.section_title {
		width: 100%;
	}

	div#detailSide {
		display: none;
	}

	div#detailContents {
		width: 100%;
	}

	form#joinPayment > ul > li > p {
		width: 6rem;
	}
	form#joinPayment > ul > li > div {
		width: calc(100% - 7rem);
	}

	#slctWine,
#slctCoupon {
		width: 100%;
		font-size: var(--fnt_16);
	}
}
/* 모바일 디바이스 미디어 쿼리 */
/* ---------- 페이지 특정 미디어 쿼리 종료 ---------- */