/* ---------- Page-Specific Layout CSS (Partner (Detail)) ---------- */
/* ---------- 페이지 특정 요소 시작 ---------- */

div#wrapMain.sub {
    column-gap: 1rem;
    margin: 0 auto;
    width: 60rem;
} /* 임시 - 서브 페이지 래퍼 사이즈 및 내부 정렬 */

.section_title {
    margin: 5rem auto 1.5rem;
    width: 60rem;
}

div#detailSide {
    position: relative;
    width: 16rem;
    z-index: 3;
} /* 서브 페이지 사이드 바 */

div#detailContents {
    position: relative;
    width: 42rem;
} /* 서브 페이지 컨텐츠 */

div#detailSide_sticker {
    position: sticky;
    top: 6rem;
    left: 0;

    > .detail_hiddentitle {
        display: none;

        > p {
            margin-top: .25rem;
        }

        > hr {
            margin: 1rem 0;
            background: #D9D7D2;
        }
    }

    > .detail_slider_paging {
        width: 100%;
        height: .75rem;
    }

    > .detail_slider_container {
        margin: .25rem 0;
        width: 16rem;
        height: 16rem;
        background: rgba(var(--color_dark), .75);
        box-shadow: 0 .5rem 1rem -.5rem rgba(var(--color_dark), .2);

        > .detail_slider {
            > .slider_item {
                position: relative;

                > .slider_item_magnifier {
                    // display: block;
                    display: none;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background: rgba(var(--color_dark), .75);
                }

                > img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    > .detail_reputation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .75rem 1rem;
        width: 100%;
        background: rgba(var(--color_dark), .75);
        font-family: var(--ff_sans_p);
        color: rgb(var(--color_light));

        > .count_review {
            margin-top: .1rem;
        }
    }

    > .detail_controller {
        margin: .5rem 0;
        width: 100%;
        height: 4.5rem;

        > button {
            display: block;
            float: left;
            width: 5rem;
            height: inherit;

            & + button {
                margin-left: .5rem;
            }
        }
    }

    > .detail_hiddenbutton {
        display: none;
    }
} /* 서브 페이지 스티키 메뉴 */

.price_reduce_info {
    > ul {
        > li {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 0 .5rem;
            border-bottom: .05rem solid #D9D7D2;

            &.used_point,
            &.used_cash,
            &.used_coupon {
                padding-left: 1rem;
            }

            &.final_price {
                border-bottom: none;
            }

            > label {
                display: block;
                margin-right: auto;
                opacity: .5;
            }

            > input {
                display: block;
                padding: .5rem 0;
                width: 8rem;
                border-radius: 0;
                background: transparent;
                box-shadow: none;
                font-family: var(--ff_eng);
                font-size: var(--fnt_20);
                text-align: end;
            }

            > span {
                margin-left: .25rem;
            }
        }
    }
} /* 할인된 가격 정보 */

form#joinPayment {
    > ul {
        > li {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            padding: 1rem .5rem;

            > p {
                margin-right: 1rem;
                width: 7rem;
                font-family: var(--ff_sans_p);
                font-weight: bold;
                text-align: end;
                opacity: .75;
            }

            > div {
                padding-left: 1rem;
                width: calc(100% - 8rem);
                border-left: var(--border);

                > input {
                    font-family: var(--ff_eng);
                    font-size: var(--fnt_16);

                    & + label {
                        margin-left: .25rem;
                        color: rgb(var(--color_footer));
                        font-size: var(--fnt_12);
                    }
                }

                > .useit_all {
                    background: rgb(var(--color_text));
                    box-shadow: none;
                }
            }

            &.join_pay {
                flex-flow: column nowrap;
                justify-content: center;
                row-gap: 1rem;
                background: rgba(var(--color_light), .5);
                text-align: center;

                > .price_line {
                    > label {
                        display: inline-block;
                    }

                    > #txtFinalPrice {
                        display: inline-block;
                        border-bottom: .1rem solid currentColor;
                        border-radius: 0;
                        background: transparent;
                        box-shadow: none;
                        text-align: center;
                        font-size: var(--fnt_24);
                    }
                }

                > .btn_rotate {
                    display: block;
                }
            }
        }

        > hr {
            background: #D9D7D2;
        }
    }
} /* 모임 참여 신청 폼 */

#txtBasicPrice {
    padding: 0;
    background: transparent;
    box-shadow: none;
}

#txtPoint,
#txtCash {
    position: relative;
    width: 5rem;
}

#slctWine,
#slctCoupon {
    width: 15rem;
    font-size: var(--fnt_16);
}

.groupinfo_body {
    display: flex;
    align-items: center;

    > img {
        margin-right: .5rem;
        width: 3rem;
        height: 3rem;
        border: var(--border);
        box-shadow: 0 0 .75rem -.25rem rgba(var(--color_dark), .5);
        object-fit: cover;
    }

    > dl {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        > dt {
            margin-bottom: .5rem;
            font-family: var(--ff_serif);
            font-size: var(--fnt_20);

            &::before {
                display: inline-block;
                padding: .15rem .5rem;
                border: .05rem solid currentColor;
                border-radius: .45rem;
                font-family: var(--ff_eng);
                font-size: var(--fnt_10);
                vertical-align: top;
                content: '';
            }
        }

        > dd {
            font-family: var(--ff_sans_p);
            color: rgba(var(--color_text), .5);
        }
    }

    &:is([data-group-type="LIST"]) {
        > dl > dt::before {
            color: rgb(var(--color_acc1));
            content: 'LIST';
        }
    }

    &:is([data-group-type="BYOB"]) {
        > dl > dt::before {
            color: rgb(var(--color_acc2));
            content: 'BYOB';
        }
    }
} /* 참여하는 모임 */

.hostinfo_body {

} /* 호스트 정보 */

.courseinfo_body {

} /* 장소 및 제공되는 코스 */

.partner_info {
    display: flex;
    align-items: center;

    > img {
        margin-right: .5rem;
        width: 3rem;
        height: 3rem;
        border: var(--border);
        box-shadow: 0 0 .75rem -.25rem rgba(var(--color_dark), .5);
        object-fit: cover;
    }

    > dl {
        > dt {
            margin-bottom: .5rem;
            font-family: var(--ff_serif);
            font-size: var(--fnt_20);
        }

        > dd {
            font-family: var(--ff_sans_p);
            color: rgba(var(--color_text), .5);
        }
    }
}

.wineoffer_body {
    > ol {
        > li {
            font-family: var(--ff_sans_p);

            & + li {
                margin-top: .5rem;
            }

            &::before {
                display: inline-block;
                margin-right: .25rem;
                padding: .25rem .5rem .2rem;
                border: .05rem solid rgba(var(--color_dark), .2);
                border-radius: var(--bdr_outer);
                font-size: var(--fnt_10);
                font-weight: bold;
                vertical-align: middle;
            }

            &.wine_red {
                &::before {
                    background: crimson;
                    color: floralwhite;
                    content: '레드';
                }
            }

            &.wine_white {
                &::before {
                    background: white;
                    color: darkslateblue;
                    content: '화이트';
                }
            }

            &.wine_sparkling {
                &::before {
                    background: bisque;
                    color: sienna;
                    content: '스파클링';
                }
            }

            &.wine_other {
                &::before {
                    background: pink;
                    color: indigo;
                    content: '기타';
                }
            }

            > .offer_wine_vintage {
                color: rgb(var(--color_footer));
            }
        }
    }
} /* LIST - 제공되는 와인 */

table.refund_rule {
    margin: 0 auto;
    width: 100%;
    border-top: var(--border);
    border-bottom: var(--border);

    > caption {
        padding: 1rem;
        font-family: var(--ff_sans_p);
        color: rgb(var(--color_footer));

        > svg {
            fill: rgb(var(--color_point1));
            vertical-align: bottom;
        }
    }

    tr + tr {
        border-top: var(--border);
    }

    th,
    td {
        padding: .75rem;
    }

    th {
        width: 10rem;
        background: rgba(var(--color_dark), .75);
        color: rgb(var(--color_light));
        font-weight: normal;
        text-align: center;
    }

    td {
        background: rgb(var(--color_bg));
        color: rgb(var(--color_footer));
        
        strong {
            color: rgb(var(--color_point1));
        }
    }
} /* 환불 규정 */

/* ---------- 페이지 특정 요소 종료 ---------- */
/* ---------- 페이지 특정 미디어 쿼리 시작 ---------- */



/* ---------- 페이지 특정 미디어 쿼리 종료 ---------- */