@charset "UTF-8";
/* ---------- Page-Specific Layout CSS (Login) ---------- */
/* ---------- 페이지 특정 요소 시작 ---------- */
#wrap {
	width: 100vw;
	height: 100vh;
}

#frmLogin {
	display: flex;
	flex-flow: column nowrap;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	padding: 0.5rem;
	width: 20rem;
	max-height: 30rem;
	background: #fff;
	box-shadow: var(--shd_minor);
}
#frmLogin::before {
	position: absolute;
	bottom: calc(100% + .5rem);
	left: 0;
	right: 0;
	content: "와인투게더 로그인";
}

.btn_container {
	display: flex;
	align-items: center;
	margin-bottom: 0.5rem;
}
.btn_container .backtomain {
	margin-left: auto;
	background: rgb(var(--color_text));
	color: rgb(var(--color_light));
}

.field_login {
	display: flex;
	flex-flow: column nowrap;
	gap: 0.5rem;
}
.field_login input {
	padding: 0.5rem;
	border-bottom: 0.05rem solid rgb(var(--color_text));
	border-radius: 0;
	background: transparent;
	box-shadow: none;
	font-size: var(--fnt_14);
}
.field_login button {
	padding: 0.75rem;
	background: rgb(var(--color_tone2));
	font-size: var(--fnt_16);
}

.other_methods {
	display: flex;
	flex-flow: column nowrap;
	gap: 0.5rem;
	margin: auto 0;
}
.other_methods button {
	padding: 0.75rem;
}
.other_methods .btn_google {
	background: rgba(217, 48, 37, 0.5);
	color: rgb(var(--color_light));
}
.other_methods .btn_google:hover {
	background: #d93025;
}
.other_methods .btn_kakao {
	background: rgba(243, 220, 0, 0.5);
}
.other_methods .btn_kakao:hover {
	background: #f3dc00;
}
.other_methods .btn_naver {
	background: rgba(25, 206, 96, 0.5);
	color: rgb(var(--color_light));
}
.other_methods .btn_naver:hover {
	background: #19ce60;
}
.other_methods .btn_facebook {
	background: rgba(24, 119, 242, 0.5);
	color: rgb(var(--color_light));
}
.other_methods .btn_facebook:hover {
	background: #1877f2;
}