/* ---------- Page-Specific Layout CSS (Login) ---------- */
/* ---------- 페이지 특정 요소 시작 ---------- */

#frmLogin {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    max-width: 32rem;
    height: 15rem;

    > * {
        padding: .5rem;
        width: 16rem;
    }

    hr {
        margin: .5rem 0 .75rem;
        height: .05rem;
        background: rgb(var(--color_bdr));
    }

    button {
        padding: .75rem 3rem;
        width: 100%;
        text-align: start;

        
        & + button {
            margin-top: .25rem;
        }
    }

    input + label {
        margin-top: 1rem;
    }

    label {
        display: block;
        margin-bottom: .25rem;
        font-family: var(--ff_sans_p);
    }

    input {
        width: 100%;
        font-size: var(--fnt_14);
    }

    .forgot_pw {
        margin: .5rem 0;
        font-family: var(--ff_sans_p);
        font-size: var(--fnt_12);
        text-align: end;
        cursor: pointer;
    }

    .btn_login,
    .btn_join {
        text-align: center;
    }

    .btn_login {
        background: rgb(var(--color_acc2));
        color: rgb(var(--color_light));
        font-size: var(--fnt_16);
    }

    .btn_join {
        background: rgb(var(--color_subtle));
    }
}

.other_auth {
    margin-top: .5rem;

    .btn_kakao {
        background: rgb(243, 220, 0);
    }
    
    .btn_naver {
        background: rgb(25, 206, 96);
        color: rgb(var(--color_light));
    }
    
    .btn_facebook {
        background: rgb(24, 119, 242);
        color: rgb(var(--color_light));
    }
}