/* ---------- Page-Specific Layout CSS (Login) ---------- */
/* ---------- 페이지 특정 요소 시작 ---------- */

#wrap {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#frmLogin {
    position: relative;
    margin: auto;
    width: 30rem;
    font-family: var(--ff_sans_p);

    > .box_CI {
        float: left;
        width: 12rem;
        text-align: center;

        h1#mainLogo {
            margin-top: 3rem;
        }
    }

    > .box_button {
        float: left;
        padding: .5rem;
        width: 18rem;
        
        > button {
            display: block;
            padding: .75rem;
            width: 100%;
            box-shadow: none;
            color: rgb(var(--color_light));
            font-size: var(--fnt_16);

            & + button {
                margin-top: .25rem;
            }

            &#btnGoogle {
                background: rgb(234, 67, 53);
            }

            &#btnNaver {
                background: rgb(25, 206, 96);
            }

            &#btnKakao {
                background: rgb(254, 225, 2);
            }

            &#btnFacebook {
                background: rgb(22, 111, 229);
            }
        }
    }

    > .goto_back {
        background: rgba(var(--color_dark), .75);
        color: rgb(var(--color_light));
    }
}