/* ---------- Page-Specific Layout CSS (Login) ---------- */
/* ---------- 페이지 특정 요소 시작 ---------- */

#wrap {
    width: 100vw;
    height: 100vh;
}

#frmLogin {
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: .5rem;
    width: 20rem;
    max-height: 30rem;
    background: #fff;
    box-shadow: var(--shd_minor);

    &::before {
        position: absolute;
        bottom: calc(100% + .5rem);
        left: 0;
        right: 0;
        content: '와인투게더 로그인'
    }
}

.btn_container {
    display: flex;
    align-items: center;
    margin-bottom: .5rem;

    .backtomain {
        margin-left: auto;
        background: rgb(var(--color_text));
        color: rgb(var(--color_light));
    }
}

.field_login {
    display: flex;
    flex-flow: column nowrap;
    gap: .5rem;

    input {
        padding: .5rem;
        border-bottom: .05rem solid rgb(var(--color_text));
        border-radius: 0;
        background: transparent;
        box-shadow: none;
        font-size: var(--fnt_14);
    }

    button {
        padding: .75rem;
        background: rgb(var(--color_tone2));
        font-size: var(--fnt_16);
    }
}

.other_methods {
    display: flex;
    flex-flow: column nowrap;
    gap: .5rem;
    margin: auto 0;

    button {
        padding: .75rem;
    }

    .btn_google {
        background: rgba(217, 48, 37, .5);
        color: rgb(var(--color_light));
    
        &:hover {
            background: rgba(217, 48, 37, 1);
        }
    }
    
    .btn_kakao {
        background: rgba(243, 220, 0, .5);
    
        &:hover {
            background: rgba(243, 220, 0, 1);
        }
    }
    
    .btn_naver {
        background: rgba(25, 206, 96, .5);
        color: rgb(var(--color_light));
    
        &:hover {
            background: rgba(25, 206, 96, 1);
        }
    }
    
    .btn_facebook {
        background: rgba(24, 119, 242, .5);
        color: rgb(var(--color_light));
    
        &:hover {
            background: rgba(24, 119, 242, 1);
        }
    }
}

#copyRights {
    
}