@charset "UTF-8";
/* ---------- Page-Specific Layout CSS (Login) ---------- */
/* ---------- 페이지 특정 요소 시작 ---------- */
#wrap {
	display: flex;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

#frmLogin {
	position: relative;
	margin: auto;
	width: 30rem;
	font-family: var(--ff_sans_p);
}
#frmLogin > .box_CI {
	float: left;
	width: 12rem;
	text-align: center;
}
#frmLogin > .box_CI h1#mainLogo {
	margin-top: 3rem;
}
#frmLogin > .box_button {
	float: left;
	padding: 0.5rem;
	width: 18rem;
}
#frmLogin > .box_button > button {
	display: block;
	padding: 0.75rem;
	width: 100%;
	box-shadow: none;
	color: rgb(var(--color_light));
	font-size: var(--fnt_16);
}
#frmLogin > .box_button > button + button {
	margin-top: 0.25rem;
}
#frmLogin > .box_button > button#btnGoogle {
	background: #ea4335;
}
#frmLogin > .box_button > button#btnNaver {
	background: #19ce60;
}
#frmLogin > .box_button > button#btnKakao {
	background: #fee102;
}
#frmLogin > .box_button > button#btnFacebook {
	background: #166fe5;
}
#frmLogin > .goto_back {
	background: rgba(var(--color_dark), 0.75);
	color: rgb(var(--color_light));
}