/* ---------- Media Query CSS ---------- */

@media screen and (max-width: 1200px) {
    /* 공통 요소 */

    header#headMobile {
        top: 0;
        transition: .3s ease-out;
    }

    header#headBase {
        display: none;
    }

    #wrapMain.sub {
        margin-top: 5rem;
    }

    #sideBar {
        display: none;
    }

    /* 공통 요소 끝 */
    /* 개별 페이지 요소 */

    .item_review {
        flex-flow: column nowrap;
        width: calc((100% - .5rem) / 2);
        height: auto;

        > .review_image {
            width: 100%;
            height: 8rem;
        }

        > .review_desc {
            width: 100%;
            height: 9.5rem;
        }

        .review_text {
            height: 3rem;
        }
    }

    .short_banner {
        width: 100%;
    }

    .host_spec {
        width: 100%;
    }

    /* 개별 페이지 요소 끝*/
} /* 1200px */


@media screen and (max-width: 800px) {
    /* 공통 요소 */

    h2 {
        font-size: var(--fnt_24);
    }

    #footBase {
        > img {
            margin: 2rem auto;
        }
    }

    ul#footLinks {
        flex-flow: column nowrap;

        > .flinks_sep {
            display: none;
        }
    }

    div#footContent {
        > div {
            display: none;
            margin-top: 2rem;
            width: 100%;
            
            & + div {
                margin-left: 0;
            }
        }

        .foot_mobile_opener {
            display: block;
        }
    }

    /* 공통 요소 끝 */
    /* 개별 페이지 요소 */

    div#mainSlider {
        height: 15rem;
    }

    .main-slide {
        > div.int_wrap {
            height: 15rem;
            background: rgba(var(--color_dark), .5);
        }

        > img {
            width: auto;
            left: auto;
            right: 0;
        }
    }

    .card_partner {
        width: calc((100% - .5rem) / 2);
    }

    .item_review {
        flex-flow: column nowrap;

        .review_image {
            width: 100%;
            height: 10rem;
            border-right: none;
            border-bottom: var(--border);
        }

        .review_desc {
            padding-bottom: 0;

            h4 {
                font-size: var(--fnt_16);
            }
        }

        .review_text {
            height: 3.5rem;
        }

        .chk_like {
            display: none;
        }
    }

    .long_banner {
        overflow: hidden;

        > a {
            padding: 1rem;
        }
        
        p {
            position: static;
        }

        h2 {
            margin-top: 1rem;
            position: static;
        }

        .banner_image {
            height: 75%;
            top: auto;
            bottom: .5rem;
            right: 1rem;
            opacity: .5;
        }
    }

    .short_banner {
        padding: 1rem;
        height: auto;

        * {
            position: static;
            margin-bottom: 1rem;
        }
    }

    .gathering_location {
        > img {
            width: 100%;
            height: 10rem;
        }

        > .info_container {
            width: 100%;
            border-top: var(--border);
            border-left: none;
        }
    }

    .article_container {
        > li {
            > .user_profile {
                width: 100%;
                text-align: end;
            }
        }
    }

    #detailInfo {
        .spec_info {
            p {
                width: 100%;

                span {
                    width: 70%;
                }
            }
        }
    }

    #detailOffer {
        > .offer_wine {
            > .list_wine,
            > .byob_wine {
                > li {
                    width: 100%;
                }
            }
        }
    }

    /* join (temp) */

    div#wrapMain.sub {
        width: 100%;
    }

    .section_title {
        width: 100%;
    }

    div#detailSide {
        display: none;
    }

    div#detailContents {
        width: 100%;
    }

    
    form#joinPayment {
        > ul {
            > li {
                > p {
                    width: 6rem;
                }

                > div {
                    width: calc(100% - 7rem);
                }
            }
        }
    }

    #slctWine,
    #slctCoupon {
        width: 100%;
        font-size: var(--fnt_16);
    }

    /* 개별 페이지 요소 끝*/
} /* 800px */


@media screen and (max-width: 400px) {
    /* 공통 요소 */

    h1#mobileLogo {
        width: 8rem;
        height: 2rem;
        font-size: var(--fnt_24);

        &::after {
            bottom: 0;
        }
    }

    h2 {
        font-size: var(--fnt_20);
    }

    h3 {
        font-size: var(--fnt_20);
    }

    .main_section {
        margin-top: 3.5rem;
    }

    .sec_title {
        flex-flow: column nowrap;
        align-items: flex-start;
        row-gap: .75rem;
        position: relative;

        > .sec_more {
            position: absolute;
            top: .15rem;
            right: .5rem;
        }

        > .sec_subtitle {
            font-size: var(--fnt_12);
        }
    }

    /* 공통 요소 끝 */
    /* 개별 페이지 요소 */

    .card_item {
        width: 7.5rem;

        > p.card_timeleft {
            top: .2rem;
            left: .2rem;
            height: .8rem;
            padding: .15rem .3rem;
            border-radius: .4rem;
            background: rgb(var(--color_point1));
            font-size: var(--fnt_10);
        }

        > .card_img_container {
            height: 5rem;
        }

        > .card_content {
            padding: .25rem;
        }

        .card_desc {
            padding: .25rem;
            height: 4.5rem;

            > .card_title {
                > h5 {
                    font-size: var(--fnt_14);
                    height: 1.4rem;
                }
            }

            > .card_subtitle {
                margin-top: .25rem;
                font-size: var(--fnt_10);
                -webkit-line-clamp: 3;
            }

            > .card_like {
                display: none;
            }
        }

        .card_spec {
            flex-flow: column nowrap;
            padding: .25rem;

            > p {
                padding: 0;
                width: 100%;
                font-size: var(--fnt_10);

                &.card_location_small {
                    > svg {
                        width: .5rem;
                        height: .5rem;
                    }
                }

                &.card_date {
                    margin-top: .25rem;
                }
            }
        }
    }

    .long_banner {
        p {
            font-size: var(--fnt_12);
        }

        .banner_image {
            height: 60%;
            top: auto;
            bottom: -.5rem;
            right: -1rem;
        }
    }

    section#secPartners {
        gap: .5rem;
    }

    .card_partner {
        width: calc((100% - .5rem) 2);

        &_overlay {
            > h5 {
                font-size: var(--fnt_16);
            }

            > p {
                font-size: var(--fnt_12);
            }
        }
    }

    .short_banner {
        p:first-of-type,
        p:last-of-type {
            font-size: var(--fnt_12);
        }
    }

    .offer_food > .list_food > dd.food_pict {
        > img {
            width: calc((100% - .5rem) / 2);
        }
    }

    .food_item > .food_images {
        > img {
            width: calc((100% - .5rem) / 2);
        }
    }

    .host_info {
        > .host_pict {
            width: 3rem;
            height: 3rem;
        }

        > .host_desc {
            width: calc(100% - 3.5rem);
        }
    }

    button.user_profile {
        width: 100%;
    }

    button.modal_btn {
        width: 100%;
    }

    a.banner_partner {
        font-size: var(--fnt_16);
    }

    /* 개별 페이지 요소 끝*/
} /* 400px */

@media only screen and (hover: none) and (pointer: coarse) {

} /* 모바일 디바이스 미디어 쿼리 */