@charset "UTF-8";
/* ---------- Page-Specific Layout CSS (My Page) ---------- */
/* ---------- 페이지 특정 요소 시작 ---------- */
#myProfileIMG {
	position: relative;
	margin: -0.5rem;
	width: calc(100% + 1rem);
	height: 12rem;
}
#myProfileIMG > .profile_bg {
	width: inherit;
	height: inherit;
	-o-object-fit: cover;
	   object-fit: cover;
	filter: brightness(0.9);
	z-index: -1;
}
#myProfileIMG > .profile_pict {
	display: block;
	position: absolute;
	right: 1rem;
	bottom: -3rem;
	width: 6rem;
	height: 6rem;
	border-radius: 50%;
	box-shadow: 0 0 0 0.15rem rgb(var(--color_bdr)), 0 0 0.5rem rgba(var(--color_dark), 0.5);
	-o-object-fit: cover;
	   object-fit: cover;
}

#myProfileDesc {
	padding: 1rem 0;
	width: calc(100% - 8rem);
	text-align: end;
}
#myProfileDesc > h5 {
	font-size: var(--fnt_40);
}

#myProfileIntro {
	padding: 0.5rem;
	border-radius: var(--bdr_outer);
	background: rgb(var(--color_bg));
}
#myProfileIntro > hr.hf {
	margin: 0.5rem 0;
	background: rgb(var(--color_bdr));
}

.my_gathering > h5,
.my_review > h5 {
	margin: 1rem 0 0.5rem;
}
.my_gathering > .mygat_container > .tab_buttons,
.my_gathering > .myrev_container > .tab_buttons,
.my_review > .mygat_container > .tab_buttons,
.my_review > .myrev_container > .tab_buttons {
	display: flex;
	border-bottom: var(--border);
}
.my_gathering > .mygat_container > .tab_buttons > p,
.my_gathering > .myrev_container > .tab_buttons > p,
.my_review > .mygat_container > .tab_buttons > p,
.my_review > .myrev_container > .tab_buttons > p {
	padding: 0.75rem;
	width: 50%;
	text-align: center;
	cursor: pointer;
}
.my_gathering > .mygat_container > .tab_buttons > p.selected,
.my_gathering > .myrev_container > .tab_buttons > p.selected,
.my_review > .mygat_container > .tab_buttons > p.selected,
.my_review > .myrev_container > .tab_buttons > p.selected {
	background: rgb(var(--color_text));
	color: rgb(var(--color_light));
}
.my_gathering > .mygat_container > .tab_draw,
.my_gathering > .myrev_container > .tab_draw,
.my_review > .mygat_container > .tab_draw,
.my_review > .myrev_container > .tab_draw {
	border-bottom: var(--border);
}
.my_gathering > .mygat_container > .tab_draw > ul,
.my_gathering > .myrev_container > .tab_draw > ul,
.my_review > .mygat_container > .tab_draw > ul,
.my_review > .myrev_container > .tab_draw > ul {
	display: none;
	padding: 0.25rem 0;
}
.my_gathering > .mygat_container > .tab_draw > ul > li,
.my_gathering > .myrev_container > .tab_draw > ul > li,
.my_review > .mygat_container > .tab_draw > ul > li,
.my_review > .myrev_container > .tab_draw > ul > li {
	padding: 0.75rem;
	border-radius: var(--bdr_outer);
}
.my_gathering > .mygat_container > .tab_draw > ul > li > a,
.my_gathering > .myrev_container > .tab_draw > ul > li > a,
.my_review > .mygat_container > .tab_draw > ul > li > a,
.my_review > .myrev_container > .tab_draw > ul > li > a {
	display: block;
}
.my_gathering > .mygat_container > .tab_draw > ul > li:hover,
.my_gathering > .myrev_container > .tab_draw > ul > li:hover,
.my_review > .mygat_container > .tab_draw > ul > li:hover,
.my_review > .myrev_container > .tab_draw > ul > li:hover {
	background: rgb(var(--color_bg));
	font-weight: bold;
}
.my_gathering > .mygat_container > .tab_draw > ul.show,
.my_gathering > .myrev_container > .tab_draw > ul.show,
.my_review > .mygat_container > .tab_draw > ul.show,
.my_review > .myrev_container > .tab_draw > ul.show {
	display: block;
}

#myProfilePay > h5 {
	margin: 1rem 0 0.5rem;
}

#myProfileSub > h5 {
	margin: 1rem 0 0.5rem;
}