@charset "UTF-8";
/* ---------- Page-Specific Layout CSS (My Page) ---------- */
/* ---------- 페이지 특정 요소 시작 ---------- */
/* ---------- 웹 버전 시작 ---------- */
button,
input {
	box-shadow: none;
}

div#wrapMain.sub {
	-moz-column-gap: 1rem;
	     column-gap: 1rem;
	margin: 0 auto;
	width: 60rem;
}

/* 임시 - 서브 페이지 래퍼 사이즈 및 내부 정렬 */
.section_title {
	margin: 5rem auto 1.5rem;
	width: 60rem;
}

.btn_rotate {
	display: block;
	margin: 2rem auto;
}

div#detailSide {
	position: relative;
	width: 16rem;
	z-index: 3;
}

/* 서브 페이지 사이드 바 */
div#detailContents {
	position: relative;
	width: 42rem;
}

/* 서브 페이지 컨텐츠 */
div#detailSide_sticker {
	position: -webkit-sticky;
	position: sticky;
	top: 6rem;
	left: 0;
}
div#detailSide_sticker > .detail_hiddentitle > hr {
	clear: both;
	margin: 1rem 0;
	background: #D9D7D2;
}
div#detailSide_sticker > .detail_notify > h6 {
	margin-bottom: 1rem;
}

/* 서브 페이지 스티키 메뉴 */
.profile_pict_container {
	position: relative;
	float: left;
	margin-bottom: 1rem;
	width: 5rem;
	height: 5rem;
	box-shadow: 0 0.5rem 1rem -0.5rem rgba(var(--color_dark), 0.2);
}
.profile_pict_container > .my_profile_pict {
	width: inherit;
	height: inherit;
}
.profile_pict_container > .profile_pict_change {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	inset: 0;
	background: rgba(var(--color_dark), 0.75);
	color: rgb(var(--color_light));
	opacity: 0;
	transition: opacity 0.15s;
	cursor: pointer;
}
@media (hover: hover) {
	.profile_pict_container > .profile_pict_change:hover {
		opacity: 1;
	}
}

.my_profile_tag {
	float: left;
	margin-left: 0.5rem;
	width: 10.5rem;
}
.my_profile_tag > dt > .my_user_name {
	margin-bottom: 0.5rem;
	font-size: var(--fnt_20);
}
.my_profile_tag > dt > .my_user_name::before {
	display: inline-block;
	margin-right: 0.25rem;
	padding: 0.2rem 0.3rem;
	border: 0.05rem solid rgba(var(--color_dark), 0.2);
	border-radius: var(--bdr_outer);
	background: #ccc;
	font-family: var(--ff_eng);
	font-size: var(--fnt_12);
	text-shadow: 0 0.1rem 0.1rem rgba(var(--color_dark), 0.3);
	vertical-align: top;
}
.my_profile_tag > dt > .my_user_name:is([data-acc-type=google])::before {
	background: rgb(var(--color_light));
	color: #4285f4;
	content: "G";
}
.my_profile_tag > dt > .my_user_name:is([data-acc-type=naver])::before {
	background: #19ce60;
	color: rgb(var(--color_light));
	content: "N";
}
.my_profile_tag > dt > .my_user_name:is([data-acc-type=kakao])::before {
	background: #fae100;
	color: rgb(var(--color_text));
	content: "K";
}
.my_profile_tag > dt > .my_user_name:is([data-acc-type=facebook])::before {
	background: #166fe5;
	color: rgb(var(--color_light));
	-webkit-text-decoration: 0.05rem underline currentColor;
	        text-decoration: 0.05rem underline currentColor;
	content: "f";
}
.my_profile_tag > .my_user_id {
	font-family: var(--ff_eng);
	font-weight: bold;
}
.my_profile_tag > .my_cert {
	display: flex;
	flex-flow: row wrap;
	gap: 0.15rem;
	margin-top: 1rem;
}
.my_profile_tag > .my_cert > span {
	display: inline-block;
	padding: 0.15rem 0.5rem 0.25rem;
	border: 0.05rem solid rgba(var(--color_dark), 0.1);
	border-radius: var(--bdr_outer);
	background: rgb(var(--color_acc1));
	color: rgb(var(--color_light));
	font-size: var(--fnt_12);
}
.my_profile_tag > .my_cert > span.verified {
	background: rgb(var(--color_acc2));
}
.my_profile_tag > .my_cert > span.sommelier {
	background: rgb(var(--color_tag1));
}

.noti_list {
	position: relative;
	max-height: 15rem;
	overflow: hidden;
}
.noti_list::before {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 5rem;
	background: linear-gradient(to top, rgb(var(--color_bg)) 0%, transparent 100%);
	transition: 0.3s ease-out;
	z-index: 2;
	content: "";
}
@media (hover: hover) {
	.noti_list:hover {
		max-height: none;
	}
	.noti_list:hover::before {
		height: 0;
	}
}
.noti_list > li {
	display: flex;
	align-items: center;
	-moz-column-gap: 0.25rem;
	     column-gap: 0.25rem;
	padding: 0.75rem;
	border-radius: var(--bdr_outer);
	background: rgb(var(--color_light));
	box-shadow: 0 0.05rem 0 rgba(var(--color_dark), 0.1);
	font-family: var(--ff_sans_p);
}
.noti_list > li + li {
	margin-top: 0.25rem;
}
.noti_list > li:is([data-noti-type=system]) {
	border-left: 0.25rem solid rgb(var(--color_bdr));
}
.noti_list > li:is([data-noti-type=self]) {
	border-left: 0.25rem solid rgb(var(--color_acc2));
}
.noti_list > li:is([data-noti-type=group]) {
	border-left: 0.25rem solid rgb(var(--color_acc1));
}
.noti_list > li:is([data-noti-type=review]) {
	border-left: 0.25rem solid rgb(var(--color_tag5));
}
@media (hover: hover) {
	.noti_list > li:hover > .noti_delete {
		opacity: 1;
	}
}
.noti_list > li > .noti_text {
	line-height: 1rem;
}
.noti_list > li > .noti_text > span {
	font-weight: bold;
}
.noti_list > li > .noti_delete {
	margin-left: auto;
	padding: 0.25rem;
	width: 1.5rem;
	height: 1.5rem;
	transition: 0.15s;
	opacity: 0;
	z-index: 1;
	cursor: pointer;
}
.noti_list > li > .noti_delete > svg {
	fill: rgb(var(--color_point1));
}
@media (hover: hover) {
	.noti_list > li > .noti_delete:hover {
		background: rgb(var(--color_point1));
	}
	.noti_list > li > .noti_delete:hover > svg {
		fill: rgb(var(--color_light));
	}
}
@media (hover: none) {
	.noti_list > li > .noti_delete {
		opacity: 1;
	}
}

section + section {
	margin-top: 5rem;
}
section > article + article {
	margin-top: 1rem;
}
section > .section_title {
	margin: 2rem auto;
	width: 100%;
}
section > .section_title > h5 {
	font-family: var(--ff_sans_p);
	font-size: var(--fnt_16);
}
section > .section_title > hr {
	margin-top: 0.5rem;
}

.my_info_container > ul > li {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	padding: 1rem 0.5rem;
}
.my_info_container > ul > li > p {
	margin-right: 1rem;
	width: 7rem;
	font-family: var(--ff_sans_p);
	font-weight: bold;
	text-align: end;
	opacity: 0.75;
}
.my_info_container > ul > li > div {
	padding-left: 1rem;
	width: calc(100% - 8rem);
	border-left: var(--border);
	font-family: var(--ff_sans_p);
}
.my_info_container > ul > hr {
	background: #D9D7D2;
}

.intro_container > .intro_text {
	position: relative;
	padding: 1rem;
	border-radius: var(--bdr_outer);
	background: rgb(var(--color_light));
	box-shadow: 0 0.05rem 0 rgba(var(--color_dark), 0.1);
	font-size: var(--fnt_16);
}
.intro_container > .intro_text::before {
	display: block;
	position: absolute;
	top: calc(100% - .5rem);
	left: 1rem;
	width: 1rem;
	height: 1rem;
	border-top: 0.5rem solid transparent;
	border-bottom: 0.5rem solid transparent;
	border-left: 0.5rem solid rgb(var(--color_light));
	border-right: 0.5rem solid transparent;
	filter: drop-shadow(0 0.05rem 0 rgba(var(--color_dark), 0.1));
	content: "";
}

#myActivities > .tab_buttons {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	-moz-column-gap: 0.05rem;
	     column-gap: 0.05rem;
	border-bottom: 0.05rem solid #D9D7D2;
}
#myActivities > .tab_buttons > button {
	display: block;
	position: relative;
	width: 5rem;
	height: 1.75rem;
	border-radius: 0;
	background: rgba(var(--color_dark), 0.75);
	box-shadow: none;
	color: rgb(var(--color_light));
}
#myActivities > .tab_buttons > button::before {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 0.25rem;
	content: "";
}
#myActivities > .tab_buttons > button.tab_selected {
	background: rgb(var(--color_light));
	color: rgb(var(--color_text));
	font-weight: bold;
}
#myActivities > .tab_buttons > button.tab_selected::before {
	background: rgb(Var(--color_acc1));
}
#myActivities > article {
	display: none;
}
#myActivities > article.show {
	display: initial;
}
#myActivities > article > .myact_article_body {
	border-bottom: 0.05rem solid #D9D7D2;
}
#myActivities > article > .myact_article_body > li {
	display: flex;
	align-items: center;
	-moz-column-gap: 0.5rem;
	     column-gap: 0.5rem;
	padding: 0.5rem;
}
@media (hover: hover) {
	#myActivities > article > .myact_article_body > li:hover {
		background: rgb(var(--color_light));
	}
	#myActivities > article > .myact_article_body > li:hover .act_title {
		font-weight: bold;
	}
	#myActivities > article > .myact_article_body > li:hover > .act_write_rev {
		opacity: 1;
	}
	#myActivities > article > .myact_article_body > li:hover > .act_read_article {
		transform: translateX(0);
		transition: 0.3s ease-out;
		opacity: 1;
	}
}
#myActivities > article > .myact_article_body > li > .act_main_photo {
	width: 3rem;
	height: 3rem;
	box-shadow: 0 0.5rem 1rem -0.5rem rgba(var(--color_dark), 0.2);
	-o-object-fit: cover;
	   object-fit: cover;
}
#myActivities > article > .myact_article_body > li > dl {
	cursor: pointer;
}
#myActivities > article > .myact_article_body > li > dl > dt {
	margin-bottom: 0.25rem;
	font-family: var(--ff_sans_p);
	font-size: var(--fnt_16);
}
#myActivities > article > .myact_article_body > li > dl > dd {
	font-family: var(--ff_eng);
	font-size: var(--fnt_12);
	opacity: 0.5;
}
#myActivities > article > .myact_article_body > li > button:first-of-type {
	margin-left: auto;
}
#myActivities > article > .myact_article_body > li > .act_write_rev,
#myActivities > article > .myact_article_body > li > .act_read_article {
	padding: 0.5rem;
	width: 2rem;
	height: 2rem;
	border-radius: 0;
	background: transparent;
	cursor: pointer;
}
#myActivities > article > .myact_article_body > li > .act_write_rev {
	opacity: 0;
}
#myActivities > article > .myact_article_body > li > .act_write_rev > svg {
	fill: #707070;
}
#myActivities > article > .myact_article_body > li > .act_read_article {
	transform: translateX(-25%);
	opacity: 0;
}
#myActivities > article > .myact_article_body > li > .act_read_article > svg {
	fill: rgb(var(--color_tag1));
}
#myActivities > article > .myact_article_body > hr {
	background: #D9D7D2;
}

/* 바운스 후 빠르게 사라짐 - cubic-bezier(.55,-0.55,0,1.05) */
.myact_article_pager {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	-moz-column-gap: 0.5rem;
	     column-gap: 0.5rem;
	margin: 0 auto;
	padding: 1rem;
	width: 18rem;
	background: radial-gradient(ellipse at top, #F2EBEB 0%, transparent 75%);
	font-family: var(--ff_eng);
	font-size: var(--fnt_12);
}
.myact_article_pager > li {
	width: 1.5rem;
	height: 1.2rem;
	border-radius: var(--bdr_outer);
	text-align: center;
	line-height: 1.2rem;
	cursor: pointer;
}
.myact_article_pager > li.pager_prev {
	margin-right: auto;
}
.myact_article_pager > li.pager_next {
	margin-left: auto;
}
.myact_article_pager > li.current {
	background: rgba(var(--color_dark), 0.75);
	color: rgb(var(--color_light));
	font-weight: bold;
}

.mymember_onuse, .mymember_notuse {
	padding: 1rem;
	border-radius: var(--bdr_outer);
	box-shadow: 0 0.25rem 0.5rem rgba(var(--color_dark), 0.1);
	font-family: var(--ff_sans_p);
	color: rgb(var(--color_light));
	text-shadow: 0 0.05rem 0 rgba(var(--color_dark), 0.5);
}
.mymember_onuse > h4, .mymember_notuse > h4 {
	margin-bottom: 0.5rem;
}
.mymember_onuse > h4 > span, .mymember_notuse > h4 > span {
	font-family: var(--ff_logo);
	font-weight: normal;
}
.mymember_onuse > p + p, .mymember_notuse > p + p {
	margin-top: 0.25rem;
}
.mymember_onuse > button, .mymember_notuse > button {
	margin-top: 1rem;
	font-size: var(--fnt_14);
}
.mymember_onuse {
	background: rgb(var(--color_acc2));
}
.mymember_notuse {
	background: rgba(var(--color_dark), 0.75);
}

.my_assets_container > ul > li {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	padding: 1rem 0.5rem;
}
.my_assets_container > ul > li > p {
	margin-right: 1rem;
	width: 7rem;
	font-family: var(--ff_sans_p);
	font-weight: bold;
	text-align: end;
	opacity: 0.75;
}
.my_assets_container > ul > li > div {
	padding-left: 1rem;
	width: calc(100% - 8rem);
	border-left: var(--border);
	font-family: var(--ff_sans_p);
}
.my_assets_container > ul > hr {
	background: #D9D7D2;
}

.mobile_user_tag {
	display: none;
}
.mobile_user_tag + .detail_notify {
	display: none;
}

/* ---------- 웹 버전 종료 ---------- */
/* ---------- 모바일 버전 시작 ---------- */
/* ---------- 모바일 버전 종료 ---------- */
/* ---------- 페이지 특정 요소 종료 ---------- */
/* ---------- 페이지 특정 미디어 쿼리 시작 ---------- */
/* 모바일 디바이스 미디어 쿼리 */
@media screen and (max-width: 800px) {
	.mobile_user_tag {
		display: initial;
	}
	.mobile_user_tag > .my_profile_tag {
		width: auto;
	}
	.mobile_user_tag + .detail_notify {
		display: initial;
	}
	.mobile_user_tag + .detail_notify ::before {
		display: none;
	}
	.mobile_user_tag + .detail_notify > .noti_list {
		max-height: none;
	}

	.my_info_container > ul > li > p,
.my_assets_container > ul > li > p {
		width: 5rem;
	}
	.my_info_container > ul > li > div,
.my_assets_container > ul > li > div {
		width: calc(100% - 6rem);
	}

	#myActivities > .tab_buttons > button {
		width: calc((100% - .15rem) / 4);
	}

	.myact_article_pager {
		width: 15rem;
	}
}
/* ---------- 페이지 특정 미디어 쿼리 종료 ---------- */