@charset "UTF-8";
/* ---------- Page-Specific Layout CSS (My Page) ---------- */
/* ---------- 페이지 특정 요소 시작 ---------- */
#contentBar {
	position: relative;
}

#myProfileIMG {
	position: relative;
	margin: -0.5rem;
	width: calc(100% + 1rem);
	height: 12rem;
}
#myProfileIMG > .profile_bg {
	width: inherit;
	height: inherit;
	-o-object-fit: cover;
	   object-fit: cover;
	filter: brightness(0.9);
	z-index: -1;
}
#myProfileIMG > .profile_pict {
	display: block;
	position: absolute;
	right: 1rem;
	bottom: -3rem;
	width: 6rem;
	height: 6rem;
	border-radius: 50%;
	box-shadow: 0 0 0 0.15rem rgb(var(--color_bdr)), 0 0 0.5rem rgba(var(--color_dark), 0.5);
	-o-object-fit: cover;
	   object-fit: cover;
}

#myProfileDesc {
	margin: 0 -0.5rem;
	padding: 1rem 8rem 1rem 0;
	background: linear-gradient(to bottom, rgb(var(--color_bdr)) 0%, transparent 100%);
	text-align: end;
}
#myProfileDesc > h3 {
	position: relative;
	margin-bottom: 0.75rem;
	margin-left: auto;
	padding: 0 0.25rem;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	color: rgb(var(--color_text));
	font-size: var(--fnt_40);
	text-shadow: 0 0.1rem 0.15rem rgba(var(--color_subtle), 0.75), -0.1rem 0 0 rgba(var(--color_subtle), 0.75), 0.1rem 0 0 rgba(var(--color_subtle), 0.75);
	z-index: 1;
}
#myProfileDesc > h3::before {
	display: block;
	position: absolute;
	bottom: -0.15rem;
	left: 0;
	right: 0;
	height: 0.5rem;
	border-radius: var(--bdr_outer);
	background: rgb(var(--color_acc1));
	z-index: -1;
	content: "";
}
#myProfileDesc > .my_account {
	font-family: var(--ff_eng);
	font-weight: bold;
}
#myProfileDesc > .my_account::after {
	display: inline-block;
	margin-left: 0.25rem;
	padding: 0.25rem 0 0.2rem;
	width: 1rem;
	border-radius: var(--bdr_outer);
	color: rgb(var(--color_light));
	font-size: var(--fnt_12);
	text-align: center;
}
#myProfileDesc > .my_account:is([data-acctype=naver])::after {
	background: #04cf5c;
	content: "N";
}
#myProfileDesc > .my_account:is([data-acctype=google])::after {
	background: #d93025;
	content: "G";
}
#myProfileDesc > .my_account:is([data-acctype=kakao])::after {
	background: #f3dc00;
	color: rgb(var(--color_text));
	content: "K";
}

#myProfileSetting {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	gap: 0.5rem;
	font-family: var(--ff_sans_p);
}
#myProfileSetting > hr.vf {
	background: rgb(var(--color_bdr));
}

#myProfileIntro > h5 {
	margin: 3rem 0 0.5rem;
}
#myProfileIntro > .my_self {
	padding: 0.5rem;
	border: var(--border);
	border-radius: var(--bdr_outer);
	background: rgb(var(--color_bg));
}
#myProfileIntro > .my_self > hr.hf {
	margin: 0.5rem 0;
	background: rgb(var(--color_bdr));
}

.my_gathering > h5,
.my_review > h5 {
	margin: 3rem 0 0.5rem;
}
.my_gathering > .mygat_container > .tab_buttons,
.my_gathering > .myrev_container > .tab_buttons,
.my_review > .mygat_container > .tab_buttons,
.my_review > .myrev_container > .tab_buttons {
	display: flex;
	border-bottom: var(--border);
}
.my_gathering > .mygat_container > .tab_buttons > p,
.my_gathering > .myrev_container > .tab_buttons > p,
.my_review > .mygat_container > .tab_buttons > p,
.my_review > .myrev_container > .tab_buttons > p {
	padding: 0.5rem 0.75rem;
	border-bottom: 0.2rem solid transparent;
	border-top-left-radius: var(--bdr_outer);
	border-top-right-radius: var(--bdr_outer);
	color: rgba(var(--color_text), 0.5);
	text-align: center;
	cursor: pointer;
}
.my_gathering > .mygat_container > .tab_buttons > p.selected,
.my_gathering > .myrev_container > .tab_buttons > p.selected,
.my_review > .mygat_container > .tab_buttons > p.selected,
.my_review > .myrev_container > .tab_buttons > p.selected {
	border-color: rgb(var(--color_acc1));
	color: rgb(var(--color_text));
	font-weight: bold;
	text-shadow: 0 0.1rem 0.1rem rgba(var(--color_subtle), 0.75);
}
.my_gathering > .mygat_container > .tab_draw,
.my_gathering > .myrev_container > .tab_draw,
.my_review > .mygat_container > .tab_draw,
.my_review > .myrev_container > .tab_draw {
	border-bottom: var(--border);
}
.my_gathering > .mygat_container > .tab_draw > ul,
.my_gathering > .myrev_container > .tab_draw > ul,
.my_review > .mygat_container > .tab_draw > ul,
.my_review > .myrev_container > .tab_draw > ul {
	display: none;
	padding: 0.25rem 0;
}
.my_gathering > .mygat_container > .tab_draw > ul > li,
.my_gathering > .myrev_container > .tab_draw > ul > li,
.my_review > .mygat_container > .tab_draw > ul > li,
.my_review > .myrev_container > .tab_draw > ul > li {
	padding: 0.75rem 0;
	border-radius: var(--bdr_outer);
}
.my_gathering > .mygat_container > .tab_draw > ul > li > a,
.my_gathering > .myrev_container > .tab_draw > ul > li > a,
.my_review > .mygat_container > .tab_draw > ul > li > a,
.my_review > .myrev_container > .tab_draw > ul > li > a {
	display: block;
}
.my_gathering > .mygat_container > .tab_draw > ul > li > a::before,
.my_gathering > .myrev_container > .tab_draw > ul > li > a::before,
.my_review > .mygat_container > .tab_draw > ul > li > a::before,
.my_review > .myrev_container > .tab_draw > ul > li > a::before {
	content: "▪ ";
}
.my_gathering > .mygat_container > .tab_draw > ul > li:hover,
.my_gathering > .myrev_container > .tab_draw > ul > li:hover,
.my_review > .mygat_container > .tab_draw > ul > li:hover,
.my_review > .myrev_container > .tab_draw > ul > li:hover {
	padding: 0.75rem;
	background: rgb(var(--color_bg));
	font-weight: bold;
	transition: 0.2s;
}
.my_gathering > .mygat_container > .tab_draw > ul.show,
.my_gathering > .myrev_container > .tab_draw > ul.show,
.my_review > .mygat_container > .tab_draw > ul.show,
.my_review > .myrev_container > .tab_draw > ul.show {
	display: block;
}

#myProfilePay > h5 {
	margin: 3rem 0 0.5rem;
}

#myProfileSub > h5 {
	margin: 3rem 0 0.5rem;
}