/* ---------- Page-Specific Layout CSS (My Page) ---------- */
/* ---------- 페이지 특정 요소 시작 ---------- */

#contentBar {
    position: relative;
}

#myProfileIMG {
    position: relative;
    margin: -.5rem;
    width: calc(100% + 1rem);
    height: 12rem;

    > .profile_bg {
        width: inherit;
        height: inherit;
        object-fit: cover;
        filter: brightness(.9);
        z-index: -1;
    }

    > .profile_pict {
        display: block;
        position: absolute;
        right: 1rem;
        bottom: -3rem;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        box-shadow:
            0 0 0 .15rem rgb(var(--color_bdr)),
            0 0 .5rem rgba(var(--color_dark), .5);
        object-fit: cover;
    }
}

#myProfileDesc {
    margin: 0 -.5rem;
    padding: 1rem 8rem 1rem 0;
    background: linear-gradient(to bottom, rgb(var(--color_bdr)) 0%, transparent 100%);
    text-align: end;

    > h3 {
        position: relative;
        margin-bottom: .75rem;
        margin-left: auto;
        padding: 0 .25rem;
        width: fit-content;
        color: rgb(var(--color_text));
        font-size: var(--fnt_40);
        text-shadow:
            0 .1rem .15rem rgba(var(--color_subtle), .75),
            -.1rem 0 0 rgba(var(--color_subtle), .75),
            .1rem 0 0 rgba(var(--color_subtle), .75);
        z-index: 1;
        
        &::before {
            display: block;
            position: absolute;
            bottom: -.15rem;
            left: 0;
            right: 0;
            height: .5rem;
            border-radius: var(--bdr_outer);
            background: rgb(var(--color_acc1));
            z-index: -1;
            content: '';
        }
    }

    > .my_account {
        font-family: var(--ff_eng);
        font-weight: bold;

        &::after {
            display: inline-block;
            margin-left: .25rem;
            padding: .25rem 0 .2rem;
            width: 1rem;
            border-radius: var(--bdr_outer);
            color: rgb(var(--color_light));
            font-size: var(--fnt_12);
            text-align: center;
        }

        &:is([data-acctype='naver'])::after {
            background: #04cf5c;
            content: 'N';
        }

        &:is([data-acctype='google'])::after {
            background: #d93025;
            content: 'G';
        }

        &:is([data-acctype='kakao'])::after {
            background: #f3dc00;
            color: rgb(var(--color_text));
            content: 'K';
        }
    }
}

#myProfileSetting {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    gap: .5rem;
    font-family: var(--ff_sans_p);

    > hr.vf {
        background: rgb(var(--color_bdr));
    }
}

#myProfileIntro {
    > h5 {
        margin: 3rem 0 .5rem;
    }

    > .my_self {
        padding: .5rem;
        border: var(--border);
        border-radius: var(--bdr_outer);
        background: rgb(var(--color_bg));

        > hr.hf {
            margin: .5rem 0;
            background: rgb(var(--color_bdr));
        }

        > .my_grade {
            font-family: var(--ff_sans_p);
            text-align: end;

            > span {
                display: inline-block;
                position: relative;
                color: rgb(var(--color_title));
        
                &::before {
                    display: inline-block;
                    margin-right: .25rem;
                    padding: .2rem .3rem .1rem .3rem;
                    border: .05rem solid rgba(var(--color_dark), .25);
                    border-radius: var(--bdr_outer);
                    color: rgb(var(--color_light));
                }
        
                /* 회원등급 관련 부분 - !중요! */
        
                &:is([data-grade="grade_newbie"])::before {
                    background: rgb(var(--color_acc2));
                    color: rgb(var(--color_tone2));
                    content: 'L1';
                }
        
                &:is([data-grade="grade_normal"])::before {
                    background: rgb(var(--color_tag1));
                    content: 'L2';
                }
        
                &:is([data-grade="grade_regular"])::before {
                    background: rgb(var(--color_tag2));
                    color: rgb(var(--color_footer));
                    content: 'L3';
                }
        
                &:is([data-grade="grade_family"])::before {
                    background: rgb(var(--color_tag3));
                    content: 'L4';
                }
        
                &:is([data-grade="grade_vip"])::before {
                    background: rgb(var(--color_text));
                    color: rgb(var(--color_tag2));
                    content: 'VIP';
                }
        
                &:is([data-grade="grade_vvip"])::before {
                    border-color: goldenrod;
                    background: linear-gradient(to top, rgb(255, 217, 0) 0%, rgb(255, 187, 0) 100%);
                    font-family: 'Berkshire Swash', cursive;
                    color: rgb(var(--color_light));
                    text-shadow: 0 0 .1rem rgb(var(--color_point1));
                    content: 'W';
                }
        
                /* 회원등급 관련 부분 - !중요! */
            }
        }
    }
}

.my_gathering,
.my_review {
    > h5 {
        margin: 3rem 0 .5rem;
    }

    > .mygat_container,
    > .myrev_container {
        > .tab_buttons {
            display: flex;
            border-bottom: var(--border);

            > p {
                padding: .5rem .75rem;
                border-bottom: .2rem solid transparent;
                border-top-left-radius: var(--bdr_outer);
                border-top-right-radius: var(--bdr_outer);
                color: rgba(var(--color_text), .5);
                text-align: center;
                cursor: pointer;

                &.selected {
                    border-color: rgb(var(--color_acc1));
                    color: rgb(var(--color_text));
                    font-weight: bold;
                    text-shadow: 0 .1rem .1rem rgba(var(--color_subtle), .75);
                }
            }
        }

        > .tab_draw {
            border-bottom: var(--border);

            > ul {
                display: none;
                padding: .25rem 0;

                > li {
                    padding: .75rem 0;
                    border-radius: var(--bdr_outer);

                    > a {
                        display: block;

                        &::before {
                            content: '▪ ';
                        }
                    }

                    &:hover {
                        padding: .75rem;
                        background: rgb(var(--color_bg));
                        font-weight: bold;
                        transition: .2s;
                    }
                }

                &.show {
                    display: block;
                }
            }
        }
    }
}

#myProfilePay {
    > h5 {
        margin: 3rem 0 .5rem;
    }

    > .my_card_container {
        
    }
}

#myProfileSub {
    > h5 {
        margin: 3rem 0 .5rem;
    }
}